[2016-08-02 21:09] andy5995 opened #1 "build is currently broken"
I broke the build with the last update. Working on it now.

[2016-08-02 22:59] andy5995 commented on #1
It's building now, but the code's still a bit messy. I hope to clean it up soon.

[2016-08-02 22:59] #1 closed

[2016-08-03 06:12] andy5995 opened #2 "trash directory string getting mangled"
This will be one of the first things I focus on:

https://sourceforge.net/p/rmw/discussion/881943/thread/fa611d1e/?limit=25#d53f

This started happening after I changed distros. I saw it happens on a couple other Linux distros as well. I'm not sure why.

The trash directory gets a bit mangled.

/home/andy/.trshh.rmw

I know it's caused by the spaces in the rmw configuration file. And it doesn't se

[2016-08-04 19:48] andy5995 opened #3 "rmw isn't honoring the purgedays value"
This affects the current git version, not the last release.

rmw isn't honouring the purgeDays value specified in the configuration file. It's using the program default of 90.

This is probably due to some recent work I did on the purge function (in the process of decreasing or getting rid of globals).

[2016-08-04 19:50] andy5995 commented on #2
This may be fixed in the current git snapshot.

I'll still have to keep an eye on it though, because I'm not sure why it broke, or why it's fixed (see [ChangeLog](https://github.com/andy5995/rmw/blob/master/ChangeLog) -> August 4, 2016 for more details).

[2016-08-06 01:37] andy5995 opened #4 "Feedback wanted: can't ReMove files to a different filesystem"
Similar to how the desktop trash operates, [rmw](https://github.com/andy5995/rmw) won't (and can't) remove files to a different filesystem. If you're on a filesystem where no trash folder is specified, you'll receive the message "No suitable filesystem found for "temp"".

One reason for this is that if ReMoving very large files, or many files, it might take a long time for the copy process; longer

[2016-08-06 03:28] andy5995 commented on #3
Fixed.

After  I changed the name of purgeDays to purge_after, I forgot to update the configuration file.

[2016-08-06 03:28] #3 closed

[2016-08-06 05:06] andy5995 commented on #2
Not fixed.
```Unable to create directory: '/home/andy/.lcal/shaare/Trash'```

Don't use spaces or $HOME in the config file, and rmw won't corrupt this string.  I'll update as soon as this is fixed.

[2016-08-06 19:04] andy5995 commented on #2
This is fixed. I had a very poorly written function.

[2016-08-06 19:04] #2 closed

[2016-08-06 20:07] andy5995 opened #5 "won't create ~/.config"
rmw stores config info in ~/.config/rmw

If ~/config doesn't exist, it will not attempt to create it, instead, the user gets the message:
```Error creating configuration directory: ./.config/rmw/```

This is really only an issue when installing rmw onto a new system, I think.

[2016-08-07 23:00] andy5995 opened #6 "option -a broken a little"
option -a broken in development version.

In the latest release, it appears that adding a trash folder that doesn't already have a parent will result in an ```unable to create directory``` message.

So $HOME/anything will work, but not $HOME/anything/.trash.rmw if ```anything``` isn't already created. Minor bug.

[2016-08-09 05:12] andy5995 opened #7 "option -a doesn't check to see if directory is already in config"
If you use -a to add a directory that's already listed in the config file, it will add it again.

Need to check the config to see if there's already a match.

[2016-08-11 07:57] andy5995 commented on #5
implemented. closed.

[2016-08-11 07:57] #5 closed

[2016-08-13 21:48] andy5995 opened #8 "malloc'ed variables not always explicitly being freed."
In some cases, variables declared with malloc() won't be freed, because I've used exit(1) in various places throughout the program.

Instead of simply using exit(), rmw should explicitly free() malloc'ed variables.

[When you exit a C application, is the malloc-ed memory automatically freed?](http://stackoverflow.com/questions/2213627/when-you-exit-a-c-application-is-the-malloc-ed-memory-automatic

[2016-08-13 21:49] andy5995 commented on #7
-a option removed from program. Un-needed feature.

[2016-08-13 21:49] #7 closed

[2016-08-13 21:49] andy5995 commented on #6
-a option removed from program. Un-needed feature.

[2016-08-13 21:49] #6 closed

[2016-08-18 04:29] andy5995 opened #9 "-B option ignoring first arg"
I discovered and fixed this bug

-B option ignores first argument. If only one argument is given, this message is displayed

    missing filenames or command line options
    Try 'rmw -h' for more information

[2016-08-18 04:30] andy5995 commented on #9
Fixed.

    const char *const short_options = "hvc:pgz:lsuBwV";

[2016-08-18 04:30] #9 closed

[2016-08-18 18:56] andy5995 opened #10 "coding standards inconsistency"
I've switched to using [GNU coding standards](https://www.gnu.org/prep/standards/html_node/Formatting.html#Formatting) but as anyone can tell from my source code, many inconsistencies remain.

Anyone wishing to make a few changes, I wouldn't stop him or her. ;)

[2016-08-18 19:03] andy5995 opened #11 "missing man page"
I've decided that a man page would be helpful.

[2016-08-18 19:07] andy5995 opened #12 "using removable media"
rmw doesn't handle removable media in a very user-friendly way.

If a flash drive is mounted, and a [WASTE folder is specified](https://github.com/andy5995/rmw/blob/master/etc/rmwrc), it will use it. But then once the media is removed, it will still try to use it, or CREATE it. Creation will fail unless one happens to be root, in which case an unused WASTE folder will be at the mount point, and "c

[2016-08-21 18:39] andy5995 opened #13 "adding more error checking"
More error checking needs to be added upon opening and closing files.

[2016-08-21 18:48] andy5995 commented on #3
test

[2016-08-21 21:29] andy5995 commented on #10
Also, if anyone happens to notice that I'm applying the GNU coding standards incorrectly, please feel free to let me know! :)

[2016-08-21 22:16] andy5995 opened #14 "restoring files with only the basename"
While -z can restore files at the command line, you have to specify
the full path (wildcards ok).
Example: rmw -z ~/.trash.rmw/files/*.iso

or be in a WASTE/files directory when you run rmw with the -z option. From there, the path isn't needed, only the basename.

In the future, it's planned to eliminate the need to specify the path. rmw
will automatically look in all the Waste directories.

Funct

[2016-08-21 22:37] andy5995 commented on #13
This is how I've started it. I haven't committed any changes yet though. There'll likely be some evolution as to the exact technique and how the errors are displayed to the user.
[code]
      Upon successful completion fopen(), fdopen() and freopen() return a
       FILE pointer.  Otherwise, NULL is returned and errno is set to
       indicate the error.
[fopen() man page](http://man7.org/linux/ma

[2016-08-22 13:59] StanleySweet commented on #13
Looks a bit overkill for doxygen comments :)

[2016-08-22 16:10] andy5995 commented on #13
Hi Stan.

I'm not exactly clear on what you mean. Could you explain a little further?

[2016-08-24 20:04] andy5995 opened #15 "testing rmw without having it operate on your regular trash folder"
I moved the information from here to the wiki:
https://github.com/theimpossibleastronaut/rmw/wiki/Testing

If you have other methods for testing, please post them below. Thanks!

[2016-08-24 20:24] andy5995 opened #16 "check and clean orphaned .trashinfo files and regular files"
rewriting code and testing sometimes results in files that have no .trashinfo file associated with them, or vice versa. A feature that checks for this would be good for the long-term process of development, in case there are bugs that have been missed.

A routine that reads the .trashinfo is already in purge() and restore(), and file_not_found() checks for the existence of a file. It would have to

[2016-08-27 18:40] #8 closed

[2016-08-28 05:53] andy5995 opened #17 "Many warnings"
I thought I had -Wall turned on, but apparently not. Now that it's on, During build-time I get lots of warnings that I have to fix.

I'll update within the next couple days.

[2016-08-28 20:43] andy5995 opened #18 "code tightening and cleanup"
This is related to #10

I let rmw since for a few years before I started working on it again. I've been re-writing a lot of the code, but there's still a lot more that can be done, and I'm still learning.

If anyone sees any chunks of code that he or she would like to fix, feel free. Whether it be 2 lines, or 50, it would be appreciated. Or if you just have suggestions, I'm all ears.

See this pag

[2016-08-31 08:08] andy5995 opened #19 "max limit on protected directories"
Directory/file protection is explained in the [README](https://github.com/andy5995/rmw/blob/master/README)

Right now, the max number of protected directories is 32.

Primarily I needed to choose a number so I could declare the array. ;)

If there's any users who need a higher number for some reason, please let me know.

[2016-08-31 08:12] andy5995 commented on #17
The only warnings remaining are a few about unused vars.

[2016-08-31 08:12] #17 closed

[2016-09-03 00:45] andy5995 commented on #14
I was just about to add code to fix this, but then I asked myself I should. If someone types in
`rmw foo`, how is rmw supposed to know which 'foo' to restore (if there's a different file named 'foo' in multiple WASTE dirs)?

List all 'foo's, showing the file size and date?

Right now the '-s, --select' option will list files that can be restored, and there's a heading that shows which WASTE dir it

[2016-09-03 01:44] andy5995 opened #20 "escape Path key with URL (encoding)"
When using the "move to trash" from the GUI in XFCE, it seems that when deleting a file with spaces in it, a %20 will replace the space when it writes the filename to .trashinfo.

If rmw restores it, it will have a %20 replacing the space in it's name.

[2016-09-03 18:36] andy5995 opened #21 "Warning about missing automake or aclocal-1.14"
Jammyjamjamman reported this problem today after attempting to build the code from master on Ubuntu

Thanks, Jammy.

[2016-09-03 18:47] andy5995 commented on #21
When 'Makefile' is present, running 'make' doesn't trigger the attempt to run 'automake'.

But now there are lines such as these in the Makefile, with paths that aren't present for users who are building:
'ACLOCAL = ${SHELL} /home/andy/src/rmw/missing aclocal-1.14'

That doesn't seem to affect the build though. I switched to root, cloned the repo, ran './configure' and 'make'. 'automake' wasn't tr

[2016-09-03 19:41] andy5995 commented on #21
After I changed this:
`rmw_CFLAGS =  -std=gnu99 -Wall -I./functions  -DSYSCONFDIR=\"${sysconfdir}\"`

to this:
`AM_CFLAGS= -std=gnu99 -Wall -I./functions  -DSYSCONFDIR=\"${sysconfdir}\"`

the warning went away.

[2016-09-04 06:57] andy5995 opened #24 "restore option broken"
Files are failing to restore, and if the file isn't present, no message appears of "file not found".

It seems that Restore() isn't even being called.

[2016-09-04 21:50] andy5995 commented on #24
This is now just broken when using the -s or --select option. restore_select() uses Restore() but it's got the wrong arguments (since I updated Restore() earlier today).

It's fixed on the develop branch

[2016-09-07 13:54] parthsuresh commented on #18
Hi Andy, I'd like to be a part of this project if it's OK. I have some experience with C, but I'm new to the Linux environment. Please tell me what to do!

[2016-09-07 14:05] andy5995 commented on #18
@parthsuresh Most of this project uses ANSI C, code that is "native" to Windows or Linux. Having little or no Linux experience shouldn't be a problem.

Do you use IRC? We can work out some details in #rmw on QuakeNet. Otherwise the forum on SF https://sourceforge.net/p/rmw/discussion/ would be the next best option.

One of the first things you'll want to do is "fork" this repo (upper right corner

[2016-09-07 20:24] parthsuresh commented on #18
@andy5995 Thanks for responding! I'll be reaching out to you through your IRC channel. Hope to talk to you soon!

[2016-09-07 22:43] andy5995 commented on #21
I think that problem was related to this:

https://github.com/tstack/lnav/issues/54

And my solution (until it stops working) is this:

I was got frustrated with this problem when I started using travis. I think I figured it out though.

After running the automake tools, the build still failed. I thought I had to edit the first line in configure, missing, depcomp, etc from #!/bin/sh to #!/bin/bash

[2016-09-08 03:49] andy5995 opened #27 "no info file found when restoring symlinks"
rmw is not finding a trashinfo file for symlinks after they are rmw'ed

[2016-09-08 03:50] andy5995 commented on #21
Nope, that wasn't the problem. It worked a few times consecutively, and then the problem popped up again.

[2016-09-08 03:54] andy5995 commented on #21
This is actually happening on travis. I don't know if it would happen every time for a regular Ubuntu User. And the message is _WARNING: 'aclocal-1.14' is missing on your system._

[2016-09-08 18:14] andy5995 commented on #18
Also, @parthsuresh, have a look at this and it should answer some of your questions:
https://github.com/andy5995/rmw/wiki/Contributing

[2016-09-09 04:46] andy5995 commented on #21
This problem was just reported by an Ubuntu 16.04 user.

[2016-09-09 05:12] parthsuresh commented on #21
This solved the problem on my Ubuntu 16.04 system:
`sudo apt-get install autotools-dev
 sudo apt-get install automake`

Then run these commands in the source folder:
`aclocal
automake
./configure
make
`

[2016-09-10 03:51] andy5995 opened #29 "last entries in undofile get erased"
How to reproduce:

1. rmw a file
2. `rmw <a file that doesn't exist>`
3. `rmw -u`

rmw will exit and display no messages.

This happens because in main() the undo file is opened for writing, but if rmw is given files that don't exist as arguments, the undo file is simple closed after the loop - in effect, erasing anything that was there previously (normal behavior for fopen()).

[2016-09-10 05:32] andy5995 opened #30 "disable verbose mode by default"
Presently, there is an option for verbose, but rmw is pretty verbose when rmw'ing file, purging, etc.

Now that I've put a lot more error-checking in place, I'm more confident that I can let rmw behave more like the 'mv' or 'rm' command.

When a file is 'rmw'ed, the output is like this:
'temp' -> '/home/andy/temp/.local/share/Trash.test/files/temp_001920-160910'

(See Line 299 main.c)

That needs

[2016-09-10 06:18] #24 closed

[2016-09-10 10:05] parthsuresh commented on #30
@andy5995 here's the patch for this issue:

http://pastebin.com/FMsGtLxS

[2016-09-10 16:51] andy5995 commented on #30
Thanks. It looks like that code will work, but to be consistent, here's how the formatting should be:

1. Braces unneeded
2. The == 1 isn't needed. If verbose == 1 then verbose is true, so if (verbose) is all that's needed there
3. Indentation of 2 spaces after the if statement

Did you build and test it?

[2016-09-10 23:52] andy5995 opened #32 "How to understand the code"
@parthsuresh , I think how people understand code is different for everyone.

I usually learn pretty gradually. I work on something easy, or small, and then move up to more challenging tasks.

The best way to start understanding any program I think, is to use it, and use its features.

For instance, try 'rmw -l'. When that's run, the 'list' variable is set.

To understand the code for that particu

[2016-09-11 00:01] andy5995 opened #33 "Requiring -f / --force as an option for purge to actually delete files"
I saw a related topic at andreafrancia/trash-cli#32 and assumed that sooner or later someone would request that feature for rmw.

This would involve
1. the section that handles options (at the top of main()) to be updated
2. adding an extra condition for purge() to run (near the end of main())
3. Updating what's shown when --help is used (trivial_rmw.c)

@parthsuresh Would you like to attempt to a

[2016-09-11 00:12] andy5995 commented on #30
Come to think of it, I'd like to see a counter added also. It will display the total number of files rmw'ed regardless of what verbose is set to. The output will show when rmw is finished.

There is already a counter for purge. You can look at that to get the general idea of how the string will get displayed to users.

The variable name and type? int rmwed_files.

The string?
"x files have been Re

[2016-09-11 04:53] parthsuresh commented on #33
@andy5995 yes, I would like to work on this.

[2016-09-11 15:01] andy5995 commented on #33
When you do the PR for this, do it on the develop branch. I'll want to test it a bit before including it with the next release, and we might need to tweak how it's implemented.

[2016-09-12 01:35] andy5995 opened #36 "standardize variables in change_HOME function"
@Selhar

file: strings_rmw.c

1. Change function name to make_home_real
2. change 't' to 'str'
3. change 'int i' to 'short chars_to_delete'
4. change 'status' to 'ok'

https://www.gnu.org/prep/standards/html_node/Formatting.html#Formatting

[2016-09-12 01:56] andy5995 commented on #27
@parthsuresh

The function used to see if a file is a regular file, a symlink, or a directory is `file_not_found()` in primary_funcs.c

I haven't looked to see what's causing this problem yet.

If you're interested in trying to fix this, here are the steps.

1. reproduce the issue by creating a symlink, rmw'ing it, then `rmw -u`
2. you'll see a message that no info file was found

Possible causes:

[2016-09-12 04:37] parthsuresh commented on #33
@andy5995 What should I give as the long option for '-rf' ?

[2016-09-12 05:22] andy5995 commented on #33
The same as the [GNU coreutils rm command](https://github.com/coreutils/coreutils/blob/master/src/rm.c): --recurse and --force

The short options are -r and -f. If -rf is used, it's parsed as -r and -f so be sure to keep them separated.

For rmw, I'm not sure that recurse is really necessary. For right now, if someone uses -r, just have rmw spit out a message that "-r --recurse is not implemented"

[2016-09-12 05:24] parthsuresh commented on #33
:+1:

[2016-09-12 05:54] parthsuresh commented on #27
@andy5995 I'll try to resolve this issue.

[2016-09-12 05:58] andy5995 commented on #30
Well done! :)

[2016-09-12 05:58] #30 closed

[2016-09-12 06:01] andy5995 commented on #27
Ok. Thanks Remember to switch back to the develop branch before creating the issue_27 branch.

And when you're on develop, it wouldn't be a bad idea to fetch upstream and merge upstream/develop again. If you go to long without syncing, you or I may end up with merge conflicts.

[2016-09-12 16:42] andy5995 commented on #29
Thanks for the patch @blah1898

[2016-09-12 16:42] #29 closed

[2016-09-12 16:46] andy5995 commented on #21
This appears to be fixed. If it has any unintended side effects for any users, I'll reopen the issue.

[2016-09-12 16:46] #21 closed

[2016-09-13 02:30] blah1898 commented on #20
Same thing happens with KDE 5, I assume it's because according to the [freedesktop.org Trash specification](https://specifications.freedesktop.org/trash-spec/trashspec-latest.html):

So not only should rmw be converting `%20` to spaces when reading. It should also escape the `path` key in the .trashinfo as if it were a URL.

[2016-09-13 05:05] andy5995 commented on #20
@blah1898 Thanks for reminding me of this issue. I just pushed some changes. I added a function that will convert the %20 to a space. I skimmed through the info you gave me. I can't claim to really understand it all that well, but for the purpose of this discussion, you are saying that when rmw write the .trashinfo, I need to to the reverse: convert spaces to %20?

I'm hoping I can just modify my

[2016-09-13 05:51] blah1898 commented on #20
It's actually a little more complicated than that. We are supposed to not only convert spaces to "%20", we need to escape everything that is not a letter (`a-z A-Z`), not a number (`0-9`), nor any of the following: `~ . - _`. If you delete a file with any other symbols in the name, you'll see the same behaviour you saw with the space.

We need to escape when writing the .trashinfo and unescape whe

[2016-09-14 00:17] andy5995 commented on #20
Ok, I am understanding you more now.

If you'd like to work with this, I'd be more than happy to accept another patch from you, @blah1898 It's np that it may take you a week or more.

I was thinking for fun I may write a function that will shift the elements of a char array one element to the right, starting at a specified position within the string. Like an "insert" mode. Do you think you'd have

[2016-09-14 03:23] andy5995 commented on #12
I think this will work well.

Waste folders on removable media will have a ',removable' string after them in the config file.

rmw won't create those automatically, as it does with the others. Instead it will look for it, and if it finds it, will use it.

The code would go near [L153](https://github.com/andy5995/rmw/blob/dcadd1aa571c1aaf9a3db1fd9c05f1e942c3c6f0/src/functions/config_rmw.c#L153), af

[2016-09-14 03:28] andy5995 commented on #14
I tried adding a couple lines in that would get rmw to chdir to a Waste folder listed in the config file, and then exit. My thought was that then the user could run rmw on the file from there.

I verified it was changing directories by running system() after the chdir(). I typed exit to get back, but when the rmw process ended, I was back where I started from.

[2016-09-14 03:34] andy5995 opened #38 "If '/' is used as an argument, skip it. Add some others?"
Near [L200](https://github.com/andy5995/rmw/blob/3e20bdbab6f2353abb61c2ee1a9ba958ee1d78cd/src/main.c#L200) would be a good spot to make sure / isn't being used as an argument.

Perhaps rmw should get a list of directories under '/', just recursing 1 or 2 levels, so dirs such as these would be skipped.
/usr
/tmp
/bin

Update: What about this?
String comparison - as each arg of rmw is processed, che

[2016-09-14 04:59] parthsuresh commented on #33
Diff for issue #33:
http://pastebin.com/6qhy2LRN

[2016-09-14 17:21] andy5995 commented on #33
@parthsuresh I'll need to make a few changes to fine tune it, but please go ahead an open a PR on the develop branch. Thank you.

[2016-09-15 01:23] andy5995 commented on #33
As it is now, purge actually runs automatically, but only once per day. If I rmw some files at 8am, it will look for files to purge. It won't do that again until after midnight the next day, unless -g is used.

-r won't be required to make this work, though originally that's what I intended when I wrote this ticket. I edited the title to reflect that.

-r is being added only for those who are used

[2016-09-15 05:28] andy5995 opened #40 "add feature to purge: purge by filespec"
[code]

[2016-09-15 05:49] andy5995 commented on #33
This was addressed in [this commit](https://github.com/andy5995/rmw/commit/6897b17fa0b12d740c2bc3dca50a6c894ddfeddc#diff-1677593b736bd5b60cf7f0bcb9062487) and [this one](https://github.com/andy5995/rmw/commit/8d7e58615daa7be534caec86ca02478cd60c15aa)

I used the wrong number on one of the commits, and I don't know why the other one didn't ping this ticket.

[2016-09-15 05:49] #33 closed

[2016-09-15 05:52] #38 closed

[2016-09-15 06:02] andy5995 opened #41 "add config option: force_not_required"
For those who don't feel the need for a safety net like --force (see #33), a config option will be added.

force_not_required

No value after it.

If that line is in your config file, --force will be implied automatically.

I'll update once the code is in place to accept that config option.

[2016-09-15 17:47] #36 closed

[2016-09-15 17:47] #41 closed

[2016-09-15 19:56] andy5995 commented on #20
I added that function I mentioned: [insert_str_at_pos()](https://github.com/andy5995/rmw/commit/48ad122dbc5db9a170f518cbcbcddedfe0943024#diff-ec6fcf84495258e4d9ce2d4b42996197R288)

[2016-09-16 04:32] andy5995 commented on #27
I found the problem, but haven't figured out a fix for it yet.

The info file is getting created properly.

When the symlink is being prepared for ReMoval, realpath() isn't used
[main.c L286](https://github.com/andy5995/rmw/blob/8dfae4fd4468049023a84de4ed92e676fbdf33a1/src/main.c#L286)

During restore, however, a realpath is needed to get the full path for restoration, so it can match it up with t

[2016-09-16 05:45] andy5995 commented on #27
I asked the question on StackOverflow: How to [determine which directory a file is in](http://stackoverflow.com/questions/39524417/c-program-determine-which-directory-a-file-is-in)

[2016-09-16 05:53] parthsuresh commented on #27
lstat source code
/* lstat works differently on Linux and Solaris systems.  POSIX (see
   `pathname resolution' in the glossary) requires that programs like `ls'
   take into consideration the fact that FILE has a trailing slash when
   FILE is a symbolic link.  On Linux systems, the lstat function already
   has the desired semantics (in treating `lstat("symlink/",sbuf)' just like
   `lstat("syml

[2016-09-16 06:29] andy5995 commented on #27
As far as I know so far. :)

[2016-09-16 18:36] #12 closed

[2016-09-16 18:36] #27 closed

[2016-09-16 18:38] andy5995 commented on #27
Fixed, closed.

[2016-09-17 07:37] #14 closed

[2016-09-17 19:16] andy5995 commented on #16
This is how I thought of approaching this.

add -o --orphaned   "check for orphaned files"

1. When purge searches the .trashinfo's for files that meet the criteria for purging, and the date matches (time to purge that file), but the corresponding file in /files/ doesn't exist, simply remove the trashinfo. Print a message like "orphaned, removing <trashinfo>"

2. When -o is used, read each file in

[2016-09-17 19:21] andy5995 commented on #20
This patch by @blah1898 was merged (#42)

I'll examine it more and figure out how to integrate it into purge(). I think once that's all that's needed before this ticket is closed.

[2016-09-17 19:29] andy5995 opened #43 "routines that call buf_check() should use the return value"
In cases where buf_check and buf_check_with_strop are called, they should use the return value.
(See [L37](https://github.com/andy5995/rmw/blob/34ba4df10835ce4418725ec60d54efcf58ccfdcf/src/functions/strings_rmw.c#L37))

Within those 2 functions themselves, they should not exit or abort, but return a 1 if the buffer overflow is caught, so the calling routine can decide what to do. Either skipping t

[2016-09-18 05:02] andy5995 opened #44 "Segfault if rmwrc isn't present in SYSCONFDIR"
Segfault if rmwrc isn't present in SYSCONFIG dir

AND if there is no 'config' file in ~/.config/rmw

If one or the the other is false, there is no segfault.

[2016-09-18 05:22] andy5995 commented on #20
My mistake; purge() doesn't need changing. Thanks for the patch @blah1898.

Closed.

[2016-09-18 05:22] #20 closed

[2016-09-18 05:44] #44 closed

[2016-09-18 06:52] andy5995 commented on #4
There's been a few changes since opened this ticket:

1. The -a option has been removed (#6)
2. Better support for removable media (#12)

At this point, It's very unlikely that I'll add support for copying files to different WASTE folders.
I'll close the ticket

Anyone wishing to discuss it further or add feedback is welcome to do so.

[2016-09-18 06:52] #4 closed

[2016-09-18 07:32] andy5995 commented on #40
I'm thinking that 0 should not change at this point - A value that suddenly changes from _completely disable_ tp _erase all_ may unpleasantly surprise someone.

As for an **empty all trash** feature, I thought using an environmental variable would be appropriate. The rmw command would need to be preceded by `RMWTRASH=empty`, combined with purge. That will empty all trash folders.

So although _con

[2016-09-18 18:45] andy5995 opened #45 "Restore fails if parent directory of target doesn't exist"
Restore fails if parent directory of target doesn't exist

[2016-09-18 19:35] #45 closed

[2016-09-18 19:45] parthsuresh commented on #43
I'd like to work on this issue. IRC doesn't work with my college Wi-fi so I'll have to find another way to communicate with you...

[2016-09-18 19:47] andy5995 commented on #43
Ok, just let me know here if you have questions. I'm not certain yet how I'd like this implemented, which means I can't tell you yet specifically what the goal is. I'll get back to you within the next day or 2 with some details. Thank you Parth.

[2016-09-19 02:15] andy5995 opened #46 "separate restore options in --help display"
I haven't decided yet about spacing and what to use for a separator.

[2016-09-19 02:34] #46 closed

[2016-09-19 02:51] andy5995 opened #47 "Documentation review prior to release of v2016.09.xx"
@parthsuresh, and anyone else, I updated the docs and pushed everything to the [next release branch](https://github.com/andy5995/rmw/tree/next_release).

I'd like to ask if they could be proofread before the release.

1. Is the wording clear?
2. Could the instructions or explanations be more concise?
3. Typos or grammatical errors
4. Anything noteworthy that I omitted?

I think the most efficient

[2016-09-19 02:56] ajphukan commented on #47
.md missing in each files  end

[2016-09-19 02:56] andy5995 commented on #43
I'm not planning on having any more code added prior to the next release. The features need to be tested. So if you can try to _break_ rmw, that would be helpful. :)

[2016-09-19 03:02] andy5995 commented on #47
Thanks for noting that @ajphukan . I generally avoid .md files. Because they're used to display files with _markdown_ , I often find I have to redo something that's already done in plain text. Also, if I use a README.md that contains markdown syntax, then a person opening it with a text editor, or viewing it with `less`, etc. would be seeing all the markdown syntax.

I'm not opposed to markdown th

[2016-09-19 03:11] ajphukan commented on #47
Thanks @andy5995  for explaning the detail ... :)

[2016-09-19 05:49] ajphukan commented on #43
I am just checking out the code i have one small question :
variable 'MP' use and when it is initialised .
thank you in advance.

[2016-09-19 05:51] andy5995 commented on #43
defined in src/rmw.h

Used to declare the size of strings (arrays) that will hold path and filenames.

[2016-09-19 06:03] ajphukan commented on #43
I am not able to pinpoint the exact location of 'MP'

[2016-09-19 06:07] blah1898 commented on #43
It's on [L83](https://github.com/andy5995/rmw/blob/master/src/rmw.h#L84) on src/rmw.h

[2016-09-19 06:08] ajphukan commented on #43
I got the location thanks ...

[2016-09-19 06:13] andy5995 commented on #43
I was just looking there... I don't know why the heck I'm using an enum statement there... I must have been experimenting years ago. That should be changed to #define

@ajphukan PATH_MAX is defined in a header that comes with the C compiler. The value is different on some systems. In effect, you won't find PATH_MAX defined in my code anywhere. On my system though, it's 4096.

[2016-09-19 06:37] andy5995 commented on #43
The only reason I can think of why buf_check... shouldn't exit from within the function is to prevent issue #8 being a problem in the future.

The reason I'm struggling with how to approach this, is because it seems like a lot of 'if' statements would have to be added. For instance, in this function I'm using
[code]

Am I going to want to add 'if's each time buf_check is called? No!

The best idea

[2016-09-19 07:20] ajphukan commented on #43
Is there anything I can help you with ...

[2016-09-19 20:36] andy5995 commented on #43
@ajphukan Thank you for the offer. :) Have you read the [contributing page](https://github.com/andy5995/rmw/wiki/Contributing) yet?

[2016-09-19 21:02] andy5995 opened #48 "If a filename being restored doesn't match the argument given, failure"
I restoring filename that had a datestring appended to it when it was originally removed, the restore fails if the parent directory hasn't been created.

There may be other conditions as well.

Release blocker. I'm going to work on it now.

[2016-09-19 21:21] ajphukan commented on #43
Only 1st four instruction ..  ...

On 20-Sep-2016 2:06 AM, "Andy Alt" <notifications@github.com> wrote:

@ajphukan <https://github.com/ajphukan> Thank you for the offer. :) Have
you read the contributing page
<https://github.com/andy5995/rmw/wiki/Contributing> yet?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/andy5995/rmw

[2016-09-19 21:30] andy5995 commented on #43
@ajphukan Come to the IRC channel and see if anything can be arranged.

[2016-09-19 21:33] ajphukan commented on #43
Link for the channel ..

On 20-Sep-2016 3:00 AM, "Andy Alt" <notifications@github.com> wrote:

[2016-09-19 21:34] #48 closed

[2016-09-19 21:38] andy5995 commented on #43
@ajphukan For people to help with this project, they have to read the basic documentation. I suggest that this project wouldn't be a good fit for you, and suggest checking out [other projects that are looking for help](https://github.com/search?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22++language%3AC&type=Issues&ref=searchresults)

[2016-09-19 21:39] ajphukan commented on #43
Okk thanks for your time ...:)

On 20-Sep-2016 3:08 AM, "Andy Alt" <notifications@github.com> wrote:

[2016-09-19 21:47] #47 closed

[2016-09-21 05:46] andy5995 commented on #43
I've finished the rewrite but it may still need some tweaking. It's good enough for @parthsuresh to start working on though ;)

These are the prototypes for the two bufchk functions:
[code]
'mode' has been changed to either 'COPY' or 'CONCAT'

I've used the new functions in main.c and config_rmw.c. Here are some examples:

[code]

Parth, if you understand this code, go ahead and finish changing al

[2016-09-21 05:58] andy5995 opened #49 "use return value of getenv()"
@parthsuresh we should be checking the return value of [getenv()](http://www.tutorialspoint.com/c_standard_library/c_function_getenv.htm). If it returns NULL, it kind of has an impact on the rest of the program ;)

If it's NULL, we should show an error msg
"Error: Environmental variable $HOME can't be used. Unable to determine home directory"

exit the program by returning 1;

[2016-09-21 06:00] andy5995 commented on #40
@parthsuresh Can I assign you this ticket?

[2016-09-21 07:56] parthsuresh commented on #40
Yes @andy5995 I'd like to work on this.

[2016-09-22 05:42] andy5995 commented on #43
I tried running rmw but it just put me back to a the prompt. It appears I broke it last night working on this issue. I removed a semicolon a little while ago and now all is well again.
https://github.com/andy5995/rmw/commit/b01e4248bbd14143e1980d75e8bd1ae41d155e3e

[2016-09-22 05:53] andy5995 commented on #40
When I wrote this:
` || getenv("RMWTRASH") == "clean"`

I meant this:
`|| strcmp (getenv("RMWTRASH"), "clean")`

[2016-09-22 06:07] andy5995 commented on #43
@parthsuresh This is a tough issue for me; I had best finish it. I think I originally used far more buffer checks than needed, and I have to go through the code with a fine-tooth comb, and eliminate a lot of them. I need to focus on putting them before the code that will actually cause a segfault, rather than trying to catch it as soon as it happens.

The most common thing that I know of that can

[2016-09-22 06:59] ajphukan commented on #49
There is multiple use of getenv() in [lines](https://github.com/andy5995/rmw/blob/1e92f1f5dc616e555991bf84933306f7ee07e20a/src/main.c#L131-L133)

I like to work on the above issue and the bug fix.

[2016-09-22 12:31] parthsuresh commented on #43
@andy5995 , I noticed that the segfault occurred when I used the -fg command, but just rmwing files works just fine. Also, `RMWTRASH="clean" rmw -fg` doesn't cause any issues.

Hope this will help you in debugging.

PS: Incorrect usage of pointers also causes segfaults. We come across a lot of them while doing our Data Structure Assignments :)

[2016-09-22 15:36] parthsuresh commented on #40
Isn't it :
`|| !strcmp (getenv("RMWTRASH"), "clean")`

strcmp returns zero if the two strings are equal

I've put in a pull-request.

[2016-09-22 18:21] andy5995 commented on #43
I wasn't aware of any segfaults that were actually happening. You're getting messages about them?

[2016-09-22 18:49] ajphukan commented on #49
I like to work on it ..
And there is a multiple use of getenv() at  [lines](https://github.com/andy5995/rmw/blob/e735bbce9a35b0c9ae5d31aed61ed77379f1b658/src/main.c#L131-L133)
We can replace it with single call and save that data to avariable ..

[2016-09-22 18:55] andy5995 commented on #49
Sure, go ahead, I'll take a look. Thanks, @ajphukan

[2016-09-22 19:15] andy5995 commented on #40
|| !strcmp (getenv("RMWTRASH"), "clean")

@parthsuresh Yes, thank you for the correction. :)

[2016-09-23 06:13] andy5995 opened #55 "Warnings when building"
Anyone want to fix the warnings that show up when building?

https://travis-ci.org/andy5995/rmw/builds/162108775

The warning regarding realpath() is caused by the problem mentioned here:
http://stackoverflow.com/questions/33550771/my-realpath-return-null-for-files?rq=1

Once we get realpath() to not always return NULL, we can get rid of the [resolve_path() function:](https://github.com/andy5995/r

[2016-09-23 18:12] andy5995 opened #58 "undo file should be removed once -u successfully restores the files"
After rmw -u is run, and the files are successfully restored, the undo file should be removed.

See [restore_rmw.c](https://github.com/andy5995/rmw/blob/master/src/functions/restore_rmw.c)

[2016-09-23 18:46] andy5995 commented on #55
fgets() warning is fixed.

[2016-09-24 13:06] ajphukan opened #59 "Help message as default ."
Like other terminal commands we can show the help message if no flag and filename is given ..

[2016-09-24 19:48] andy5995 commented on #59
That's not a bad idea, but I don't see it as necessary. Not all terminal commands give the help output if not flags or filenames are given. Here's a comparison between 'rmw' and 'mv':

Thanks for the suggestion.

[2016-09-24 19:48] #59 closed

[2016-09-24 19:58] ajphukan commented on #55
[linke that i get  in source code](http://cboard.cprogramming.com/c-programming/171131-realpath-resolves-path-but-errno-set-2-a.html)

After checking the function i got conclusion
rexolvepath generaly create the path first then it checks therefore you are getting the path as well the error 2

[line no 176](https://github.com/andy5995/rmw/blob/1e92f1f5dc616e555991bf84933306f7ee07e20a/src/functions/

[2016-09-24 19:59] ajphukan commented on #59
okk

[2016-09-24 20:12] andy5995 opened #60 "is_time_to_purge: remove HOMEDIR as an argument"
In the function is_time_to_purge(), HOMEDIR should be removed as an argument and declared at the top of the function. @ajphukan Can you fix this?

https://github.com/andy5995/rmw/blob/develop/src/functions/purging_rmw.c#L136

[2016-09-24 20:16] ajphukan commented on #60
remove the argument and declared it inside the function ?

[2016-09-24 21:24] andy5995 commented on #60
Thanks.

[2016-09-24 21:24] #60 closed

[2016-09-24 21:25] ajphukan commented on #60
Welcome  ...

[2016-09-25 02:52] andy5995 commented on #55
Closed. See #63 for more comments on the realpath issue.

[2016-09-25 02:52] #55 closed

[2016-09-25 03:01] #49 closed

[2016-09-25 09:19] andy5995 opened #64 "Optimize restore_select function"
Optimize [restore_select function](https://github.com/andy5995/rmw/blob/master/src/functions/restore_rmw.c)

[2016-09-25 13:45] ajphukan commented on #64
What type of optimization  you want ?

[2016-09-25 13:57] ajphukan commented on #58
If you are talking about this [function](https://github.com/andy5995/rmw/blob/master/src/functions/restore_rmw.c#L354)
We can add  remove function after undo file is closed  ...

[2016-09-25 14:23] ajphukan commented on #16
we can use the single command for the orphaned file showing and removing ...
Because there is no reason to put them ....in the info folder ..

[2016-09-25 18:04] andy5995 commented on #58
Yes.

If the return value of Restore() is 0, remove the undo file.

If you try this, send me the diff output before the PR. Use
git diff > 58.diff

That redirects the output to 58.diff. Copy the contents and make a paste on http://pastebin.com and send me the link.

[2016-09-25 18:06] andy5995 commented on #16
I'm not sure what you mean.

[2016-09-25 18:10] andy5995 commented on #64
I'm not sure yet. ;) I was looking at it last night and saw one area where it looked like a switch-case would be better.

I don't think I made any changes to that function since I originally wrote it 4 years ago and figured it needs to be looked at a bit more to see if can be written more efficiently. If you have any ideas and would like to work on it, just send me the output of 'git diff' through

[2016-09-25 18:13] andy5995 commented on #58
Make sure to use the directions for ["syncing"](https://github.com/andy5995/rmw/wiki/Contributing) the develop branch before you make any edits, else you will have a mess! :)

[2016-09-25 19:26] andy5995 commented on #16
There's already two functions that read the lines from a trashinfo, and this will make a third.

So first I'm going to write a single function that will parse a trashinfo, and it will be used by the other three.

[2016-09-25 22:11] andy5995 opened #65 "processing command line options"
There's a little work I want to do with how rmw handles processing command line options.

This issue is open to any feedback.

[2016-09-26 02:20] andy5995 commented on #55
I had to do some more work on resolve_path()
https://github.com/andy5995/rmw/commit/1987cef05db5aef132efe9037123b0dc66d1d903

I'm using realpath() again. The "always NULL" problem is fixed.

Trying to use PWD had some unacceptable side effects, but I was able to ditch PWD in this last rewrite.

[2016-09-26 03:00] ajphukan commented on #64
okk i will try  ...

[2016-09-26 03:03] ajphukan commented on #58
During my rmw 2nd PR , i somehow learned the syncing process dont worry ....

[2016-09-26 03:06] ajphukan commented on #16
in my above comment i am suggesting that there is no need to make separate function for orphan deletion . we can make a single function to delete the file first and then just notify the user which files are deleted .

[2016-09-26 04:14] andy5995 commented on #16
After giving it some thought, I decided a separate function would be the best in this case, but it will use other functions, such as mkinfo.

[2016-09-26 04:32] andy5995 commented on #16
https://github.com/andy5995/rmw/commit/94f60363be2e4118dbf460122a3311728539a964 Needs error checking upon opening and closing the dir, and a few other areas as well.

I also need to add to the function: If a trashinfo file exists, but no corresponding file, then remove the trashinfo.

[2016-09-26 08:53] ajphukan commented on #58
[loop](https://github.com/andy5995/rmw/blob/355578ea07a7f85120251ba9ddf7e1485c991720/src/functions/restore_rmw.c#L379)

fgets is called multiple time or just one , if one there will be no problem
but if multiple times then there is a possibility that Restore will not return 0 .

[2016-09-26 17:53] andy5995 commented on #58
fgets will sometimes be called multiple times. It depends on how many files were rmw'ed the last time. You can try it:

[code]

You will see 26 lines when you 'cat' lastrmw ;)

A counter can be used.

err_ctr += Restore (...

[2016-09-26 18:51] ajphukan commented on #58
err_ctr nice idea ..

loop
{
err_ctr+=Restore(..);
}
if(err_ctr!=0)
{print sucess;
}
else
{print these files are no of files are not recovered
}
close(undo_file) // whether err is generated or not we have to remove the undo file .

if the pseudo code is okk i will create a PR for this ..

[2016-09-26 18:55] andy5995 commented on #58
Ankur, I'm on IRC right now if you care to touch base with me.

So the way to send me your suggested code is after you make the edits, run
git diff > patch-name.diff

Copy the contents of patch-name.diff to http://pastebin.com and then send me the link. Much easier to review code that way.

[2016-09-26 18:57] ajphukan commented on #58
okk let me switch to linux  ...

[2016-09-26 18:57] andy5995 commented on #58
Well, that will work on Windows

[2016-09-26 19:37] ajphukan commented on #58
[changes](http://pastebin.com/wWxe56GT)

[2016-09-26 23:24] #58 closed

[2016-09-27 05:59] andy5995 commented on #65
RMWTRASH=empty requires too many command line options

[2016-09-27 19:06] ajphukan commented on #64
i think we can break the restore _select fun to smaller form
restore_select ()
{loop(ch!=q)
  {
  display_list(..);
  ///let the user to select a number or quit ;
  if(ch!=q)
 restore(..)
 }
}

this can help new contributor understand ore quickly and optimization can be done separately ..

[2016-09-27 19:12] andy5995 commented on #64
I'm not sure I even want to touch it right now. It works! :) Thanks, but this can just sit for a while.

[2016-09-27 19:13] andy5995 commented on #10
This is mostly done.

[2016-09-27 19:14] ajphukan commented on #64
can i get your email id ....

[2016-09-27 19:14] #10 closed

[2016-10-08 07:01] andy5995 opened #67 "May need some extra output when purging directories with many files"
I had a bit of a delay just now when I ran 'rmw' and the auto-purge ran. After it was done, it said it removed 8 files. I reasoned that some of those must have been directories with a ton of files in them.

Not really sure if I'd call this a 'bug'. Plenty of system utilities will offer no output of what's happening when verbosity is turned off. cp and mv for example. But worth a ticket.

[2016-10-14 04:11] andy5995 opened #68 "display file size in list when using --select"
display file size in list when using --select

Please remember to "star" this project (upper right corner) and [join the chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYWZmYjUyODk2NzNkNzBhMzFjOGZkMTg2MzAxMTM) if you like.

The [Contributing wiki page](https://github.com/andy5995/rmw/wiki/Contributing) contains imp

[2016-10-14 04:51] andy5995 opened #69 "add message in escape_url() if buffer check fails"
add message in escape_url() if buffer check fails

Right now, 1 is returned, but no output is displayed as to the reason for failure

https://github.com/andy5995/rmw/blob/511c666de9c7891012755d5e1661129911870189/src/functions/strings_rmw.c#L290

[2016-10-23 05:00] andy5995 opened #70 "Building on OpenBSD"
I installed OpenBSD 6.0 to a VDI in VirtualBox.

I got one fatal error when building - syscall.h couldn't be found. I checked /usr/include/sys and found it there. I made the edit and rmw finished building.

I saw syscall.h also exists in /usr/include/sys on my Linux system, so I'll be making the change to [rmw.h](https://github.com/andy5995/rmw/blob/master/src/rmw.h) permanent.

These are the warn

[2016-10-25 05:55] andy5995 opened #71 "Running and building rmw on Windows"
Using [CygWin](https://cygwin.com/), I built a Windows binary for rmw. It's available in the win32 on the develop branch.

Instead of HOME, it uses the environmental variable LOCALAPPDATA.

Anyone wanting to experiment with it can find their LOCALAPPDATA directory by using the `set` command. On Windows, `rmw` should create a trash folder there (.trash/rmw/files & .trash/rmw/info), and create a con

[2017-08-17 21:16] andy5995 opened #72 "Removed develop branch"
I merged the _develop_ branch into _master_ and then removed the _develop_ branch. I don't think a separate development branch is needed for a project this small.

[2017-09-30 02:30] andy5995 commented on #70
This could use some review and testing by BSD users.

[2017-09-30 02:33] andy5995 commented on #13
I think there's checking on all instances of files getting opened or closed. If I've missed any, feel free to make a PR.

[2017-09-30 02:40] andy5995 commented on #18
This doesn't have to be done all at once. Anyone that notices a few lines of code that could be tightened can [submit a PR](https://github.com/andy5995/rmw/wiki/Contributing).

[2017-09-30 02:49] andy5995 opened #73 "support and dev chat room changed to a Slack workspace"
The Gitter chat room is at https://gitter.im/rmw-dev/Lobby

[2017-10-02 17:37] suve commented on #11
Hi. Is the Readme up to date? I could create a manpage by borrowing most of the text from the Readme.

[2017-10-02 17:43] andy5995 commented on #11
Hi @suve Thanks for the offer!

Yes, the README is up to date.

Please be sure to create the patch on a separate branch of your fork. The procedure is outlined here:
https://github.com/andy5995/rmw/wiki/Contributing

Feel free to let me know if you have any questions. I'm on periodically throughout the day.

[2017-10-14 18:37] andy5995 commented on #71
If anyone is interested in doing this, do you think using Cygwin is the best method? I'm open to other ideas.

[2017-10-14 18:38] #11 closed

[2017-10-14 18:39] andy5995 opened #76 "create man page in Polish"
@suve offered to do this.

[2017-10-14 18:41] andy5995 opened #77 "create a man page in your native language"
create a man page in your native language

If you're interested in doing this, please open a new ticket for each language. Thanks!

[2017-10-14 18:52] andy5995 commented on #73
And now it's been changed to a Slack workspace.

Invite link:
https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYWZmYjUyODk2NzNkNzBhMzFjOGZkMTg2MzAxMTM

[2017-10-14 19:03] andy5995 commented on #65
Does anyone have suggestions on how processing command line options could be improved?

[2017-10-14 19:11] andy5995 opened #78 "reviewing the Makefiles"
Does anyone have experience with Makefiles and organizing them properly?

Everything works as is, but if you recommend any improvements to standardize how I've set everything up, please let me know. Thanks!

Please remember to "star" this project (upper right corner) and [join the chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZj

[2017-10-14 19:19] andy5995 opened #81 "man page should be installed during 'make install`"
The man page should be installed during `make install`

[2017-10-14 19:21] kickbutts opened #82 "German"
Hi would like to make a german translation. Interested?

[2017-10-14 19:23] andy5995 opened #83 "review the output messages"
Would anyone like to review and possibly improve the messages (how they appear, or code related to them) output by the program?

* messages when files are `rmw'ed`
* error messages (or how the functions are called)
* messages when files are restored

Please remember to "star" this project (upper right corner) and [join the chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA

[2017-10-14 19:25] andy5995 commented on #82
Yes, that would be great! I have no idea how to add translations, so any help with that would be appreciated! Vielen Dank!

[2017-10-14 19:28] kickbutts commented on #82
You are welcome. I will amke a new file rmw-de.man and add my translation.

[2017-10-14 19:40] rlyshw commented on #81
I can work on this! I'm reading about automake and how all that stuff works. Looks like we just gotta copy the .man file into /usr/share/man/man1/rmw.1

Unsure about how to do multi-language support.

[2017-10-14 19:43] andy5995 commented on #81
cool!

Ok, no worries on that. I've opened up some more tickets and maybe we can get some recommendations about it.

For dev chat, we just switched to the Slack workspace today. Here's the [invite link](
https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYWZmYjUyODk2NzNkNzBhMzFjOGZkMTg2MzAxMTM)

[2017-10-14 19:45] andy5995 opened #84 "Note to those with collaborator access"
It's best to make changes on separate branches and make a PR.

You are welcome to use your collaborator access for assigning tickets to yourself, or creating labels for issues if you would like.

I don't have a stated policy on this yet and need to update the docs. The problem is... I don't get auto-notified of direct pushes. PR's make things easier for me to review and manage. Thanks!

Please rem

[2017-10-14 19:52] andy5995 commented on #82
For dev chat, we just switched to the Slack workspace today. Here's the [invite link](
https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYWZmYjUyODk2NzNkNzBhMzFjOGZkMTg2MzAxMTM)

[2017-10-14 19:57] kickbutts commented on #82
Done. Have a look if this fits your needs.

[2017-10-14 20:26] andy5995 commented on #82
Looks good! I am not fluent in German but if there are any problems, they will be found by other people. :) Thanks.

If you would like to re-submit your patch as a PR (so you can receive credit for Hacktoberfest) please let me know.

[2017-10-14 20:26] #82 closed

[2017-10-14 20:28] kickbutts commented on #82
Submitting my Patch as PR for The Hacktoberfest would be nice.
Thanks.

[2017-10-14 20:51] andy5995 commented on #82
@kickbutts  I will need to reset the master to a previous commit before you submit the PR. Do you need any assistance getting your PR prepared?

[2017-10-14 22:00] kickbutts commented on #82
yes. Actually i dont know what to do.

[2017-10-14 22:07] andy5995 commented on #82
* make a copy of `rmw-de.man` and put it outside of the rmw github directory.
* delete the rmw github directory

Then follow the instructions here: https://github.com/andy5995/rmw/wiki/Contributing#pull-requests

At step 4 on that page, copy `rmw-de.man` to the rmw/man directory.

Then proceed to step 5.

Let me know if you get stuck anywhere or if my instructions are not clear.

[2017-10-14 22:20] kickbutts commented on #82
Done. Hope its working.

[2017-10-14 22:31] andy5995 commented on #82
Yes, perfectly.

(fixed via PR andy5995/rmw#86)

[2017-10-15 00:04] gfranco93 commented on #77
I'll do the spanish man page

[2017-10-15 01:07] andy5995 opened #88 "Create ES man page"
@gfranco93 will be doing this.

[2017-10-15 01:43] andy5995 commented on #67
There's some info on the [Testing](https://github.com/andy5995/rmw/wiki/Testing) wiki page that can help troubleshoot this.

Please remember to "star" this project (upper right corner) and [join the chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYWZmYjUyODk2NzNkNzBhMzFjOGZkMTg2MzAxMTM) if you like.

The [Contribut

[2017-10-15 02:10] #88 closed

[2017-10-15 03:06] alagoa commented on #77
I'll do portuguese.

[2017-10-15 03:08] andy5995 opened #90 "create Portuguese man page"
@alagoa will be working on this.

[2017-10-15 19:21] #90 closed

[2017-10-16 15:59] rlyshw commented on #67
even the system's `rm` gives no output without the -v flag, I think it'd be safe for rmw to be a "silent" utility, just like rm.

Here's a snippet of an `rm -rf -v` on a directory with several items inside.

[code]

Recursive calls tell you exactly what was removed and where with a relative path.

[2017-10-16 16:09] andy5995 commented on #67
I respect that logic! Thanks for the input @rlyshw  Closing....

[2017-10-16 16:09] #67 closed

[2017-10-16 16:19] rlyshw commented on #84
I was having weird issues when I tried to PR from my separate fork, where it didn't match the HEAD of the fork to the HEAD of the main repo, so I used a branch on this repo. Let me know if that was bad practice.

Also, FYI, I'm sure you can set the master branch to "protected" or at least restrict the branch access of the collaborators. This way you'll avoid the devastating effects of a `push -u f

[2017-10-16 16:47] andy5995 commented on #84
Thanks @rlyshw I was wondering about an option like that!

I don't know if that's bad practice, but I'll tell you how you should be able to sync your fork up so that doesn't happen again.

Switch to the master branch of your fork. Assuming you have no changes or edits on it that you want to save:
`git reset --hard fce389fe2bb11c54851b00ba20d4279c6f7c15af` that will set your HEAD back to an earlier

[2017-10-16 16:49] rlyshw commented on #84
That is a nice guide, worth adding to the contribution wiki page.

[2017-10-17 02:51] #76 closed

[2017-10-17 19:44] #81 closed

[2017-10-17 20:02] andy5995 opened #96 "Reformat AUTHORS.md"
@rlyshw you can add yourself to AUTHORS.md if you like.

Also, would you be interested in reformatting that file with a table like the one at
https://github.com/andy5995/mhwkb/blob/master/CONTRIBUTORS.md

[2017-10-22 10:31] suve commented on #69
I assume the message should go to `stderr`, not `stdout`. One question though: should it be governed by the `--verbose` flag?

[2017-10-22 18:19] andy5995 commented on #69
Hi @suve .

Yes, stderr.

Hmm.. no I don't think it should be governed by the verbose flag. If the buf_check fails at that point, there's most likely some problem in the program that needs to be fixed.

[2017-10-22 22:29] #69 closed

[2017-10-22 22:41] andy5995 opened #100 "output of cppcheck shows resource leaks"
[code]

[2017-10-22 23:19] andy5995 opened #101 "Output of valgrind shows some problems"
Output of [valgrind](http://valgrind.org/) shows some problems.

Some of these may be related to #100

[code]

[2017-10-25 09:24] suve opened #103 "Segfault when removing a file if config doesn't exist"
1. Remove or rename the `rmw` config file (`~/.config/rmw/config`).
2. Attempt to remove a file using `rmw` (will have to use the `-B` option)
3. `rmw` segfaults.

[2017-10-25 17:18] #68 closed

[2017-10-25 17:22] andy5995 commented on #103
Thanks for the bug report @suve

[2017-10-27 03:54] #103 closed

[2017-10-27 04:03] #96 closed

[2017-10-27 05:11] #101 closed

[2017-10-27 19:35] suve opened #106 "Install non-english manpages"
Non-english manpages should be installed in
[code]
Assuming `/usr/share/man` for the page catalog, the Polish manpage should be installed as
[code]

[2017-11-09 20:43] andy5995 commented on #106
Thank you @suve

I forgot to label this ticket.

If no one takes this ticket,  I'll try to get to this within the next couple weeks. Perhaps it would be time for a release once it's done.

[2017-11-12 03:50] andy5995 opened #107 "Add internationalization"
I'd like to internationalize messages output by rmw.

I've never done this before. I'm starting to read up on it.

https://www.gnu.org/software/gettext/

@suve after I get started on this, would you be interested in helping with the Polish translation?

[2017-11-12 22:33] andy5995 opened #108 "Preparing Translatable Strings"
This is for #107

https://www.gnu.org/software/gettext/manual/html_node/Preparing-Strings.html#Preparing-Strings

Now would be a good time for me to start learning how to use the GitHub [Project boards](https://github.com/andy5995/rmw/projects). :)

[2017-11-14 07:45] #106 closed

[2017-11-14 08:03] andy5995 commented on #106
The diff from the commit directly above shows a lot of changes, but some were automatically generated when I ran autoconf and automake.

The main changes I did were:

https://github.com/andy5995/rmw/commit/ef5dd882b1e124954dccbac66852f9b5fa4031dc#diff-559b8943197758815ea3c54626c404db

https://github.com/andy5995/rmw/commit/ef5dd882b1e124954dccbac66852f9b5fa4031dc#diff-c949f93d03f44a4217d7a138f9e2e

[2017-11-15 03:52] andy5995 commented on #107
I've created a page that briefly describes the next few steps of the translation process:

https://github.com/andy5995/rmw/wiki/Translating

[2017-11-15 18:11] andy5995 commented on #77
This shows what translations already exist.

https://github.com/andy5995/rmw/tree/master/man

rmw/man/rmw.1 is the English version.

[2017-11-16 22:10] andy5995 opened #109 "Translate English man page to NL (Nederlands)"
@sexybiggetje, Would you be interested in translating the [man page](https://github.com/andy5995/rmw/blob/master/man/rmw.1) to NL?

Extra details are here:

https://github.com/andy5995/rmw/issues/77#issuecomment-344679744

Please don't hesitate to tell me if you find any text that I should change to make things more easily translatable.

[2017-11-16 22:11] andy5995 commented on #43
I need to review the code and potentially create a ticket that has a more narrow focus.

[2017-11-16 22:11] #43 closed

[2017-11-16 22:12] andy5995 commented on #72
Old news

[2017-11-16 22:12] #72 closed

[2017-11-16 22:12] andy5995 commented on #18
I need to review the code and potentially write a ticket with a narrower scope.

[2017-11-16 22:12] #18 closed

[2017-11-16 22:12] sexybiggetje commented on #109
Sure, no problem

[2017-11-16 22:13] andy5995 commented on #13
A lot of error-checking has been put in place since this ticket was first created. I need to review the code and potentially write a ticket with a narrower scope

[2017-11-16 22:13] #13 closed

[2017-11-16 22:13] andy5995 commented on #64
I need to review the code and potentially write a ticket with a narrower scope

[2017-11-16 22:13] #64 closed

[2017-11-16 22:14] andy5995 commented on #73
Old news.

[2017-11-16 22:14] #73 closed

[2017-11-17 20:45] #109 closed

[2017-11-19 08:08] andy5995 commented on #107
I've updated the [wiki translating page](https://github.com/andy5995/rmw/wiki/Translating) with a new status report.

[2017-11-22 03:21] andy5995 commented on #107
Yesterday I learned about the [Translation Project](https://translationproject.org/html/welcome.html). I plan to complete a POT file and submit it for translation.

[2017-11-23 06:25] andy5995 opened #112 "README and rmwrc_config.example should be reviewed"
To help with #107, I've updated the comments in etc/rmwrc; therefore, the example config should be reviewed so it matches, and probably the README as well. Some of the info in the README may need clarification, and some of that can be based off of recent changes to etc/rmwrc

https://github.com/andy5995/rmw/blob/db707c7f56c8a5cf513958f4303b445f1848a5d4/rmwrc_config.example#L1

[2017-11-23 06:26] andy5995 commented on #108
Done (ff252bb12711bace9897d1b2c2b40ce575ae02cf)

[2017-11-23 06:26] #108 closed

[2017-11-23 06:28] andy5995 commented on #83
I've reviewed most of the strings while preparing for translating, and made some minor changes. At some point in the future, I hope they'll be reviewed by someone who is more knowledgeable about such things. ff252bb12711bace9897d1b2c2b40ce575ae02cf

I'll close this ticket and create some in the future with a narrower scope.

[2017-11-23 06:28] #83 closed

[2017-11-23 06:30] andy5995 commented on #107
Support for i18n has been added. Strings have been reviewed and prepared.

I submitted the POT file to the [Translation Project](https://translationproject.org/html/welcome.html). Now it's just a matter of waiting for translations.

[2017-11-27 02:41] andy5995 opened #113 "`make dist` does not package the man files"
`make dist` does not package the man files

man/Makefile.am must be edited so the man files will be copied with `make dist` is run. I don't think it's high priority because if someone has the distribution, they don't need to make it.

[2017-11-27 19:02] andy5995 opened #115 "translate the output messages"
Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

If you are interested in creating a translation, please open a new ticket that states which language you'll be working on; otherwise, we could 3 people making translations for 1 language! ;) Thank you!

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invi

[2017-11-27 19:12] andy5995 opened #116 "when first run, rmw should quit after creating directories"
The three messages output at the end are not relevant the first time rmw is run. It's true that a person could try to rmw some files, but I would just recommend rmw without arguments the first.

[code]

And I just found a bug that reproduces when trying to rmw a file in this case. (which I'll create a ticket for)

[2017-11-27 19:42] andy5995 opened #117 "Create Spanish translation"
@gfranco93 , Would you be interested in doing this?

Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/andy5995/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2M

[2017-11-27 19:44] andy5995 opened #118 "Create Finnish translation"
@sapake , would you be interested in doing this?

Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/andy5995/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJj

[2017-11-27 19:45] andy5995 opened #119 "create German translation"
@kickbutts , would you be interested in doing this?

Instructions for creating translations are at https://github.com/theimpossibleastronaut/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/theimpossibleastronaut/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2O

[2017-11-27 19:47] andy5995 opened #120 "Create Portuguese Brasilian translation"
@alagoa or @localhostpedro, would you be interested in doing this?

Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/andy5995/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxND

[2017-11-27 19:50] andy5995 opened #121 "Create Polish translation"
@suve I've completed the English template file. Would you be interested in doing another translation?

Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/andy5995/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_in

[2017-11-27 19:52] andy5995 opened #122 "Create Nepali translation"
@ramdahal , would you be interested in doing a Nepali translation of this program?

Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/andy5995/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NT

[2017-11-27 19:54] andy5995 opened #123 "Create Hindi translation"
@parthsuresh or @Debu44 , would you be interested in doing a Hindi translation of this program?

Instructions for creating translations are at https://github.com/andy5995/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/andy5995/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/e

[2017-11-27 19:58] sapake commented on #118
Yes, I could look into it this weekend maybe.

[2017-11-27 21:13] andy5995 commented on #122
Ram is working on this.

[2017-11-27 21:14] andy5995 commented on #118
sapake said he'll have time this weekend to look things over.

[2017-11-27 21:23] sexybiggetje commented on #70
Building and testing is confirmed to work correctly on FreeBSD-11.1-STABLE and OpenBSD-6.2 both with amd64 arch.

[2017-11-27 21:23] #70 closed

[2017-11-27 21:35] sexybiggetje commented on #71
AFAIK, for a native executable Cygwin is the easiest and best method. I dislike the extra dll, but it's already in my "unixutils" folder anyway.

Nowadays however you have a full linux system running if you want with WSL. Basically what WINE does for Windows on Linux, WSL does for Linux on Windows. Best thing of all, it's just an optional install. WSL compiles a working Linux binary.

[2017-11-28 06:13] andy5995 commented on #71
I agree. I have very little experience with Windows programming, but from what I do know, Cygwin is the way to go.

I'm glad I documented some of my experience with building and running it on Windows in the first post. That was over a year ago.

I have no plans to do anything with this, but if anyone has some experience with Windows programming and wants to implement this, please do so. :)

[2017-11-28 06:13] andy5995 commented on #70
Thank you, Martin!

[2017-11-28 06:46] andy5995 opened #124 "Implement method for informing translators of updates"
I'm leaning toward a mailing list, MailChimp or using the existing SF rmw page to create a mailing list.

Any suggestions about which mailing list to use, or alternate method of communication? I would prefer only one method for this, to keep things as simple as possible.

To help keep translations up to date, I'd like a method where if I make changes to the man page, or the strings in the program,

[2017-11-29 19:44] andy5995 opened #125 "Implement ncurses for --select feature"
The rmw --select works, but it seems that would be a good place for an ncurses type window to pop up, displaying files that can be restored, with a box next to each file that could be selected, and an option to select multiple files.

That would involve a rewrite of the restore_select function

https://github.com/andy5995/rmw/blob/a588bde2812a8e3a6fefcebf41421add03174b0b/src/functions/restore_rmw.

[2017-11-30 02:22] andy5995 opened #126 "use extra force to purge non-writable directories"
If during a purge, rmw recurses through directories and finds one that is non-writable, it will quit trying to purge the top-level directory and output a message similar to this:

[code]

Using -ff (using f twice not yet implemented) on the the command should tell rmw to go ahead and change permissions, and the finish the purge.

[2017-11-30 06:40] andy5995 commented on #78
I did this recently. There's always room for improvement, but I'm going to close the ticket since it's ultra-low priority now.

[2017-11-30 06:40] #78 closed

[2017-12-02 06:54] andy5995 commented on #125
This is mostly done as of https://github.com/andy5995/rmw/commit/2afce593a53d9da61145a4689f9cebc5005672ed

One difference in the --select feature now is that multiple files can be restored at one time.

![screenshot_2017-12-02_00-44-06](https://user-images.githubusercontent.com/16764864/33512659-0d8da596-d6fa-11e7-9324-2ec5ba20a3be.png)

It seems stable after some testing, so I pushed the commit.

[2017-12-02 21:29] andy5995 commented on #124
I created an email list for translation updates and discussion:

https://sourceforge.net/projects/rmw/lists/rmw-translation_team

[2017-12-03 07:00] #125 closed

[2017-12-03 07:04] andy5995 commented on #125
The text at the bottom has been changed, and I added the ability to go back and forth (cursor left / cursor right)

![screenshot_2017-12-03_01-01-39](https://user-images.githubusercontent.com/16764864/33523152-a3913b04-d7c5-11e7-8ff2-e62f583ef0b5.png)

This is how it looks when there are 0 files:
![screenshot_2017-12-03_01-02-03](https://user-images.githubusercontent.com/16764864/33523153-a3a7bbea

[2017-12-05 15:08] Debu44 commented on #123
Is someone working on this ? I can work on this if no one is working on it

[2017-12-05 17:29] andy5995 commented on #123
No one is working on it. Thank you, @Debu44

[2017-12-05 17:38] andy5995 commented on #65
I don't remember why I opened this ticket.

[2017-12-05 17:38] #65 closed

[2017-12-05 17:52] #100 closed

[2017-12-06 02:26] cryptarch opened #128 "Segfault on first run"
Hi, I found this project through 24 Pull Requests. It looks interesting but my experience has not been promising so far 😄

When I try running rmw for the first time it segfaults straight away. It might be because I am not installing it as a system package, instead it is going into my home directory. I've tried both the following methods:

[code]

[code]

I'm conscious that I'm not following the gi

[2017-12-06 03:43] andy5995 commented on #128
It either should work, or produce an error other than a segfault.

You've caught a bug! The system-wide config file is etc/rmwrc and the user one is  ~/.config/rmw/config

As I replicated your steps, I see that if ~/.config/rmw/rmwrc is used as the config file, a segfault is produced.

Thanks for the bug report! I'll check it out right now

[2017-12-06 03:58] #128 closed

[2017-12-06 04:39] #116 closed

[2017-12-06 04:48] andy5995 commented on #112
I don't see any reason not to delete the config.example file. The config file in etc/ will remain.

[2017-12-06 05:45] andy5995 commented on #115
@speedy-software-ch, What is your native language?

[2017-12-06 13:13] speedy-software-ch commented on #115
german and hebrew

[2017-12-06 20:25] andy5995 commented on #115
Wie geht's? Es ist schön Sie zu treffen

[2017-12-06 21:26] speedy-software-ch commented on #115
lol. Gleichfalls.

[2017-12-07 20:43] andy5995 opened #129 "list of files in trash should be sorted"
This is a matter of sorting the "choices" array.

For each entry in "choices" there's a corresponding file size in the "desc" array, so they'll have to match up during the sort.

https://github.com/andy5995/rmw/blob/85f26be661e740fcc4bb61a9a2ebff35772cfc0f/src/functions/restore_rmw.c#L394-L402

[2017-12-08 17:51] Ethan-ks commented on #129
I'd like to contribute, do you want it sorted alpabetically?

[2017-12-08 19:47] andy5995 commented on #129
Thank you for the offer. Yes, alphabetically.

[2017-12-08 19:48] #118 closed

[2017-12-12 18:09] suve opened #133 "Improve handling of plural forms"
Some messages in the program use two different strings: a "1 item" one, and a "more than 1 item" one, for example:
[code]
While this satisfies the rules of English grammar, it is not enough for many other languages, which have more complicated rules - for example, in Polish, this would be:
[code]
As can be seen, there are three different forms in use.

Universal support for any language can be ach

[2017-12-12 22:40] andy5995 commented on #133
Thanks for bringing this to my attention. Is anyone interested in working on this?

[2017-12-15 06:54] andy5995 commented on #40
I've changed the title of this issue; the RMWTRASH=empty feature was added last year.

The way I see adding a feature like purging by wildcard file specification is using `rmw --purge <optional filespec>`

Is anyone interested in working on this?

[2017-12-15 07:15] andy5995 opened #134 "make $UID real"
In config_rmw.c there's a function called make_home_real. If `$HOME` is used in the config file, it's converted to the absolute path to the user's home directory.

https://github.com/andy5995/rmw/blob/b73babed8337a65822f1069a88996b7fc1a3e321/src/functions/config_rmw.c#L63

Anyone that has extra filesystems mounted might notice that the Trash folder on their other file systems are in the form of .T

[2017-12-15 07:17] andy5995 commented on #121
Thanks for completing this @suve (#132)

[2017-12-15 07:17] #121 closed

[2017-12-15 07:19] andy5995 commented on #112
I removed `rmw/rmwrc_config.example` in https://github.com/andy5995/rmw/commit/de326ef7a8efa2848ffd0dd4bddcc7bfff917015

I believe `etc/rmwrc` is adequate for an example.

[2017-12-18 02:02] andy5995 commented on #122
Thank you for completing this (#135)

[2017-12-18 02:02] #122 closed

[2017-12-18 02:04] andy5995 commented on #123
Hi @Debu44. How is the translation progressing?

[2017-12-18 02:29] andy5995 opened #136 "Display total number of files deleted"
When purge is run, it shows the count of the files purged (based on the top entries in the Trash folder), but doesn't count all the files that were actually deleted (under sub directories).

I wonder if showing a total count of files deleted would be a worthwhile feature.

[code]

[2017-12-18 02:32] andy5995 opened #137 "Status shown when purge is running should change conditionally"
This was the output when I ran

    RMWTRASH=empty rmw -fg

[code]

In that case, showing **purge_after = 45** is not relevant, so should be changed to indicate that an "empty" is being performed.

[2017-12-24 17:26] jmrodriguesgoncalves commented on #120
I can try and help out with this!

[2017-12-24 22:57] andy5995 commented on #120
Great! Let me know if you have any questions. :)

[2017-12-26 05:30] andy5995 commented on #120
Thanks for completing the pt_PT translations @jmrodriguesgoncalves (4abcee933857a91536f44f75548e8388df8a3b32)

I'll leave this ticket open. Is anyone available for a pt_BR translation?

[2017-12-26 08:16] andy5995 opened #140 "error message after creating WASTE/files"
When rmw is run for the first time, If there's only one WASTE folder in the config file, rmw will create a WASTE/files" folder then exit with an error message. When run again, it creates the corresponding WASTE/info folder, then exits again with an error message. When run again, it behaves as expected.

[2017-12-26 10:13] #140 closed

[2017-12-27 07:54] andy5995 commented on #140
This bug means another release will be needed. I plan to do that within the next 48 hours.

[2017-12-30 21:58] svitlana-galianova opened #144 "Create Russian translation"
Extends issue #115
I would like to work on Russian translation for this project.

[2017-12-31 10:43] andy5995 commented on #144
Thank you for completing this @svitlana-galianova ! 44f7aefe814715c17454cab19f7218ef8ce7e9c6

[2017-12-31 10:43] #144 closed

[2017-12-31 19:21] andy5995 opened #146 "Create Ukrainian Translation"
@svitlana-galianova has offered to help with this. :)

[2018-01-01 16:40] andy5995 commented on #133
I'll take this ticket.

[2018-01-01 17:02] #146 closed

[2018-01-03 13:21] #133 closed

[2018-01-03 15:59] andy5995 opened #151 "when basic.sh (a new test) is run, creates wrong dir"
https://github.com/andy5995/rmw/blob/30611e66cbf42fd84cc993bd927f1344ef77322e/test/basic.sh#L8

Notes are on https://github.com/andy5995/rmw/commit/30611e66cbf42fd84cc993bd927f1344ef77322e

Bug's probably in [make_dir](https://github.com/andy5995/rmw/blob/30611e66cbf42fd84cc993bd927f1344ef77322e/src/utils_rmw.c#L40)

[2018-01-03 16:44] su8 opened #154 "Decrease the required gettext version to compile in OpenBSD"

[2018-01-03 16:45] su8 commented on #154
In OpenBSD the shipped version is **0.19.7** while in the configure.ac it requires 0.19.**8**

[2018-01-03 17:05] su8 opened #155 "use C99 instead of std=gnu11"
Is there are any reason not to prefer c99 instead ?

[2018-01-03 17:08] su8 commented on #155
Also more cflags such as `-Wundef -Wwrite-strings -Wcast-align -Wstrict-overflow=5 -W -Wshadow -Wconversion -Wpointer-arith -Wstrict-prototypes -Wformat=2 -Wmissing-prototypes` would be helpful

[2018-01-03 19:53] #151 closed

[2018-01-04 10:57] johannes3011 opened #156 "Buffer overflow if the filenames in the program parameter are to large"
My System: Ubuntu 16.04 LTS 64-bit
MP (PATH_MAX+1) is 4097 on my system

If I start the program with a filename consisting of 4097 characters or more, the execution terminates with a buffer overflow:
johannes@TP-T430:~$ rmw AAAAAAAAAAAAAAAAAAAA...
*** buffer overflow detected ***: rmw terminated
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f3f1e1537e5]
/lib/x86_64-linu

[2018-01-04 12:23] andy5995 commented on #155
I was able to compile rmw on OpenBSD 6.2 without changing the flag. I'll consider your suggestion though and see the results I get with different flags. Thanks.

[2018-01-04 12:28] andy5995 commented on #154
0.19.7 ships with OpenBSD 6.0, but 0.19.8.1 ships with [6.1](https://mirror.bytemark.co.uk/pub/OpenBSD/6.1/packages/amd64/) and 6.2

[2018-01-04 14:44] andy5995 commented on #156
Thanks for the bug report @johannes3011 . I couldn't reproduce the problem exactly as you stated, but I did find some problems.

To test it a little easier (avoiding the 4097 chars), I defined MP as 41

And got this output because this folder in my config file exceeded 41

[code]

When I defined MP as 81, it got as far as the filename, and I got this output:

[code]

In both cases, buf_check did i

[2018-01-04 18:39] #156 closed

[2018-01-04 21:16] su8 commented on #155
The patched GCC compiler in 6.0 is dating back to 2007 so this is why the GNU standard isn't supported. Changing the compiler to egcc or clang is easy but requires changes to configure.AC to detect those compilers first before falling back to the patched GCC.

[2018-01-04 21:21] su8 commented on #155
There you have it: `AC_PROG_CC([egcc clang llvm-gcc gcc])`

[2018-01-04 22:06] andy5995 commented on #155
Thank you for bringing this to my attention.

Unfortunately, there are several areas in rmw that use [lstat](https://linux.die.net/man/3/lstat). Check the existence of a file or directory, checking a file type, and getting the device number. If I changed from gnu11 to c11 or c99, many sections of the code would have to be re-written. And I actually don't know at the moment what the corresponding w

[2018-01-05 17:22] su8 commented on #155
You are confusing GNU with POSIX. Ordinary c11 or c99 are compiling the rmw without any issues. Lstat is not tied to GNU in any way, but the POSIX standard.

[2018-01-05 18:40] andy5995 commented on #155
Well, it's true that I do get things like that confused. Sometimes I really don't think my brain is wired for programming.

Here is the the make output when I change the flag to c11

[code]

and c99

[code]

Those were attempted builds on Debian Linux 9.

Now I tried on OpenBSD 6.2, and in both cases, the build completes with only some harmless warnings.

[2018-01-05 19:10] andy5995 commented on #155
@su8 I got the build to work on Debian (#155)

[2018-01-05 19:19] andy5995 commented on #155
I had to #include sys/types.h to get rid of the off_t error, and enable feature test macros in the right area to get rid of the lstat() warnings (#define _XOPEN_SOURCE 500).

[2018-01-05 20:47] andy5995 commented on #155
Unfortunately the last few commits broke rmw. No .trashinfo files are being created.

I made a copy of the master branch: https://github.com/andy5995/rmw/tree/broken_2018-01-05

and then reverted the master branch back to 9fff772a2ccb52db63a95290e0b58da3bcbe64c1 and that fixes the trashinfo problem.

I'll figure things out tomorrow.

[2018-01-05 22:36] #155 closed

[2018-01-10 19:05] andy5995 commented on #120
@marioecg, would you be interested in translating the output messages? Instructions are at https://github.com/andy5995/rmw/wiki/Translating

[2018-01-10 19:20] GoldmanCPSciences commented on #137
hey, I'm a recent graduate with a Bachelors in Computer Science. C is not my most used language but I'm interested to learn more about it for a future job I might be getting. Do you think I could take a stab at this? What exactly do you want in the %u area? just a "now performing purge on etc."?

[2018-01-10 19:23] marioecg commented on #120
@andy5995 sure, I'll take a look at it.

[2018-01-10 20:08] andy5995 commented on #137
@GoldmanCPSciences sure, you could take a stab at this! Thanks for the offer

The regular purge removes files after x number of days, as shown in the first post.

When rmw is used like this..

`RMWTRASH=empty rmw -ffg`

It will completely erase all the files in the WASTE folders, regardless of the purge_after variable.

So if the command above is used, purge_after is irrelevant. The text should re

[2018-01-10 20:14] andy5995 commented on #71
Regarding getting the right path or HOME info, this might give some clues when we work on this in the future:

https://github.com/MegaGlest/megaglest-source/blob/12998eb10f6447ac89a45d1e6d76f17946647b7a/source/shared_lib/sources/util/properties.cpp#L214-L265

[2018-01-10 20:30] andy5995 opened #161 "add more compiler flags"
I'm creating a separate ticket for this

@su8 wrote in #155

I don't see these flags as being commonly used in other projects. I looked them up

https://gcc.gnu.org/onlinedocs/gcc-4.8.4/gcc/Warning-Options.html#Warning-Options

And see that one of them is likely to give false positives.

Which of these flags would you find the most helpful, and why?

[2018-01-11 00:58] GoldmanCPSciences commented on #137
can't you just... delete that portion of the code if its not supposed to be there and then change the "purging files.... " part to "emptying waste folders...."? does it just not remove everything that its supposed to? I'm a little confused ^^;

[2018-01-11 14:43] andy5995 commented on #137
The normal purge feature is to remove files after x number of days (specified in the config file). So when the user sees `(purge_after = 45)`, it's just a reminder as to what that value is set at. Though the message "purging files (purge_after = 45)" isn't very accurate either - you bring up a good point. Perhaps it should be something like "purging files rmw'ed more than 45 days ago"..

If the rm

[2018-01-11 16:30] GoldmanCPSciences commented on #137
Got it. Thanks, I'll start working on it soon if you're ok with that. ^_^

[2018-01-11 16:49] andy5995 commented on #137
Yes, you have a green light. :)

[2018-01-11 23:06] andy5995 commented on #137
I know I have to decide the exact text to use.

`Purging files (purge_after = %u)` can be replaced with
`purging files based on number of days in the waste folders (%u)...`

And when RMWTRASH=empty is used:

`RMWTRASH=empty: purging all files in the waste folders...`

If you have different suggestions, run them by me, @GoldmanCPSciences

[2018-01-12 00:06] GoldmanCPSciences commented on #137
I like both of those.

[2018-01-12 22:15] sexybiggetje commented on #137
How about:

Situation 1; regular purge after x amount of days:
"Purging files older than the configured %u days..."

Situation 2; empty the waste folder with RMWTRASH=empty
"Purging all files ignoring the configured %u days..."

And maybe Situation 2 should be preceded with a "Are you completely sure?" [y/n] option? Ofcourse when -f is passed it would suppress this extra safety measure.

_Also; th

[2018-01-13 03:34] GoldmanCPSciences commented on #137
sounds good. I'll try to get started tomorrow. ^_^

[2018-01-14 07:14] marioecg opened #162 "There is no Spanish PO translation file"
There is no translation for Spanish, made po/es_MX.po to help the cause.

[2018-01-14 22:07] andy5995 commented on #162
Thanks for completing this @marioecg (d834e6e6607990b097d7f643499f5a699f8771b1)

I left some notes about it (84a414fc51be46239a38501c49abb7c804698e73)

Good work!

[2018-01-14 22:07] #162 closed

[2018-01-15 16:24] andy5995 commented on #137
@sexybiggetje wrote:

This would be the simplest.. or something like "Purging files based on age..."

But neither is accurate. It's not about the age of the files, but when they were "rmw'ed".

My suggestion above:

is longer than I'd like it to be, but it accurately states what's happening.

@sexybiggetje wrote:

The -fg is actually required for RMWTRASH=empty to operate. I decided to code it tha

[2018-01-15 17:02] sexybiggetje commented on #137
How about for situation 1:
"Purging files longer in your waste folder than the configured %u days..." ?

I understand your thinking, and affirm the flags itself being enough. Consider my suggestion void on that matter.

[2018-01-15 22:33] GoldmanCPSciences commented on #137
well that explains why I wasn't able to get my secondary solution to work XD

this is what I came up with.
<img width="705" alt="screen shot 2018-01-14 at 5 27 26 pm" src="https://user-images.githubusercontent.com/17244848/34964139-55f84336-fa09-11e7-9c7f-32f3fd2a48de.png">
should I just change the line and delete everything else?

[2018-01-15 22:38] andy5995 commented on #137
Sometimes, to send snippets of code, you'd want to use https://gist.github.com/

In this case, you can just submit a pull request; then I can view the [diff output](https://unix.stackexchange.com/questions/81998/understanding-of-diff-output) and also use it to apply a temporary patch for testing.

Doesn't matter if you're done with the patch; it's easy enough to update a pull request

[2018-01-16 01:54] GoldmanCPSciences commented on #137
Sorry ^^; I'll get the pull request.

[2018-01-16 02:17] andy5995 commented on #137
No worries, mate. All part of the learning process.

Oh, and here are the PR instructions. I think maybe I need to make it more visible, with a link in the README probably.

[2018-01-17 22:05] #137 closed

[2018-03-03 18:05] andy5995 commented on #126
I found that this isn't working.

[2018-03-08 21:17] andy5995 opened #166 "man files shouldn't be compressed during install"
@solbu advised me that man files shouldn't be compressed during install.

"Distros don't agree on which compression method to use."

That makes sense.

https://github.com/andy5995/rmw/blob/08969a8f979d785b4ca6c1e48b7add9dc9dbc5fe/man/Makefile.am#L1-L26

[2018-03-14 16:01] #126 closed

[2018-05-13 18:10] andy5995 opened #170 "Romanian translation"
Anyone interested in doing a Romanian translation?

(hint @mirceakitsune)

[2018-08-21 11:33] #161 closed

[2018-08-21 17:02] andy5995 opened #172 "segfault when running on OpenBSD"
testing on osx using Travis there are some segfaults that occur. Sometimes.

In this first one, tests/basic.sh fails, as well as others:
https://travis-ci.org/theimpossibleastronaut/rmw/jobs/418654503#L300

In this second example, basic.sh succeeds and others fail:

https://travis-ci.org/theimpossibleastronaut/rmw/jobs/418671881#L289

@sexybiggetje running osx was unable to reproduce any segfaults

[2018-08-21 17:11] andy5995 commented on #129
Hi @Ethan-ks , are you still working on this?

[2018-08-25 16:37] andy5995 opened #173 "README missing specific usage info"
@escottalexander reported:

ReMove the FILE(s) to a WASTE directory listed in configuration file

  or: rmw -s
  or: rmw -u
  or: rmw -z FILE...
Restore FILE(s) from a WASTE directory
`
escottalexander < 1 minute ago
I guess its self-explanatory that to remove a file you would just use `rmw file`
escottalexander < 1 minute ago
It took me a minute though.
andy5995 < 1 minute ago
no, you're right. T

[2018-08-27 14:40] #84 closed

[2018-08-27 15:09] andy5995 opened #174 "replace rmdir_recursive() with rm from busybox"
I *thought* it would be better to use rm.c from the [GNU coreutils collection], because it's more developed and safer than anything I could write at this time. (Although I don't know of any safety issues with rmw's [rmdir_recursive](https://github.com/theimpossibleastronaut/rmw/blob/a9bd9668eba181132134983cd5cc768a6f24157d/src/purging_rmw.c#L33) function yet).

To use the source code from GNU core

[2018-08-28 16:29] andy5995 commented on #154
Actually, the option to require a version is not enabled in configure.ac and never has been. To enforce a required version would require a different function

https://github.com/theimpossibleastronaut/rmw/blob/c7f794146340dd92a7c0472f4d088fd780cf6647/m4/gettext.m4#L415-L420

We're only using AM_GNU_GETTEXT_VERSION in configure.ac

[2018-08-28 16:29] #154 closed

[2018-08-28 16:50] #166 closed

[2018-08-28 16:50] #173 closed

[2018-08-29 00:53] #113 closed

[2018-09-10 20:36] andy5995 commented on #117
Completed by @marioecg  in https://github.com/theimpossibleastronaut/rmw/commit/d834e6e6607990b097d7f643499f5a699f8771b1#diff-22a5ff3241051fd2ec8d17903666d83b

[2018-09-10 20:36] #117 closed

[2018-09-10 20:41] andy5995 commented on #120
This was completed by @jmrodriguesgoncalves  in https://github.com/theimpossibleastronaut/rmw/commit/b77f2dba02168c0492ca2a9d8a5b7e7d57665c47

and I copied the file over in https://github.com/theimpossibleastronaut/rmw/commit/4abcee933857a91536f44f75548e8388df8a3b32#diff-20f31f46cccc84ba5c3fd23f6dd6a1d5

[2018-09-10 20:41] #120 closed

[2018-09-10 20:42] andy5995 commented on #112
I haven't made any major changes in a while and I've reviewed these files since. I think we're ok.

[2018-09-10 20:42] #112 closed

[2018-09-10 20:44] #15 closed

[2018-09-10 20:47] andy5995 opened #177 "test for incorrectly formatted trashinfo files"
rmw already checks for incorrectly formatted trashinfo files, but
a shell script needs to be added to the test/ folder so that when testing new code, the feature is easy to test.

[2018-10-02 17:22] pille1842 commented on #119
I'll take it.

[2018-10-02 18:52] #119 closed

[2018-10-02 20:40] andy5995 opened #179 "Create Vietnamese translation"
Instructions for creating translations are at https://github.com/theimpossibleastronaut/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/theimpossibleastronaut/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYW

[2018-10-03 03:00] andy5995 opened #180 "Add Afrikaans translation"
Instructions for creating translations are at https://github.com/theimpossibleastronaut/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/theimpossibleastronaut/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYW

[2018-10-03 03:11] andy5995 opened #181 "when restore is successful, output still says there are errors"
Appears to be able to find a file specified for restoration, the output shows that it has been restored (indicated by a "+" sign), but it does not actually get restored.

A test should be added for restore.

[2018-10-03 03:15] andy5995 commented on #181
Correction. The file does get restores.

There are some messages output that "restore returned errors". this shouldn't happen unless there are really errors.

[2018-10-08 05:04] andy5995 opened #182 "Add French translation"
Instructions for creating translations are at https://github.com/theimpossibleastronaut/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/theimpossibleastronaut/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYW

[2018-10-08 05:06] andy5995 opened #183 "Add Swedish translation"
Instructions for creating translations are at https://github.com/theimpossibleastronaut/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/theimpossibleastronaut/rmw/blob/master/po/rmw.pot

Translators are encouraged to join the [chat room](https://join.slack.com/t/removetowaste/shared_invite/enQtMjU3NTA0NTI2OTgzLTkzMzQxNDhjYzlkM2UxMTA2MzJjNWYyZjAyYzkyNWNmZjJmYW

[2018-10-08 05:08] andy5995 opened #184 "Add missing Translations"
If you see that we are missing a translation in your native language, please add one. You can see the ones that we already have here:

https://github.com/theimpossibleastronaut/rmw/tree/master/po

Instructions for creating translations are at https://github.com/theimpossibleastronaut/rmw/wiki/Translating

This is the .pot file that needs translating:
https://github.com/theimpossibleastronaut/rmw/b

[2018-10-10 14:00] vchellen commented on #182
ok i'll check

[2018-10-10 20:16] umbeebmu commented on #77
I can do the Italian version

[2018-10-11 05:07] andy5995 commented on #77
Thanks @umbeebmu . If you haven't started on this yet, could you instead translate the rmw.pot file? https://github.com/theimpossibleastronaut/rmw/issues/184

[2018-10-11 12:44] vchellen commented on #182
Hello,

I've added the translation and created a pull request : https://github.com/theimpossibleastronaut/rmw/pull/185 could you please review and accept?

Thanks

[2018-10-11 18:39] #182 closed

[2018-10-11 19:41] umbeebmu commented on #77
Sure, I'll start with that one then

[2018-10-11 19:42] umbeebmu commented on #184
I' going to work  to the Italian translation

[2018-10-14 19:14] umbeebmu commented on #77
I had a look but rmw.pot contains 67 sentences and properly translating all of them is not a small task
I just wanted a small programming  task to get started on git hub, but so much translation is not really my focus, sorry.

[2018-10-14 19:29] andy5995 commented on #77
Oh, that's perfectly fine, @umbeebmu I understand completely. I do appreciate you letting me know. 99% of people never tell me if they change their mind.

Another option is just to translate 10 or 20 of the strings. That makes it easier for the next translator if some strings have already been translated.

When the program runs, untranslated strings simply show up as English. So having 10 or 20 tr

[2018-10-18 06:08] andy5995 opened #188 "Write automake file for script tests"
I'm going to try to write an automake file to run the script tests

https://www.gnu.org/software/automake/manual/html_node/Scripts_002dbased-Testsuites.html#Scripts_002dbased-Testsuites

[2018-10-20 06:00] #188 closed

[2018-10-20 06:48] andy5995 opened #190 "add `make test` to the docs"
In a couple areas, I need to add `make test` to the docs. One place on the wiki, then maybe in the main README. There's some mention of it in the test/README, maybe that's good enough.

[2018-10-21 05:36] #32 closed

[2018-10-22 05:16] andy5995 commented on #172
I noticed some strange characters on this line in the travis log

[code]

https://travis-ci.org/theimpossibleastronaut/rmw/jobs/444548637#L1198

[2018-10-22 19:21] andy5995 commented on #190
Added to the [testing](https://github.com/theimpossibleastronaut/rmw/wiki/Testing) doc.

[2018-10-22 19:21] #190 closed

[2018-10-22 19:27] andy5995 opened #192 "rmw brew formula will need changing"
As I've just made a change so the config file (rmwrc) will no longer be installed by default with `make install`, the [rmw brew formula](https://github.com/theimpossibleastronaut/homebrew-extras/blob/master/Formula/rmw.rb) will need changing to account for that.

Some of the code from the Slackbuild could probably easily be adapted and used in the formula

[code]

https://github.com/theimpossiblea

[2018-10-23 05:56] #181 closed

[2018-10-26 05:38] #19 closed

[2018-10-26 05:53] andy5995 opened #193 "The "-B" option needs to be removed from the pt_BR man page"
The "-B" option needs to be removed from the pt_BR man page

So these 3 lines need to be removed:

https://github.com/theimpossibleastronaut/rmw/blob/16a18c2a7f271dda055b591dd0aa2170d83f3ed8/man/pt_BR/rmw.1#L23-L25

[2018-10-26 19:14] #193 closed

[2018-10-26 19:15] andy5995 opened #195 "The "-B" option needs to be removed from the pl man page"
The "-B" option needs to be removed from the pl man page

So these 3 lines need to be removed:

https://github.com/theimpossibleastronaut/rmw/blob/8101f44d573dd2fd43fe3c0e6c8bade99c944269/man/pl/rmw.1#L26-L28

[2018-10-26 19:18] pablopgi commented on #195
I will work on this one

[2018-10-26 19:25] andy5995 opened #196 "The "-B" option needs to be removed from the nl man page"
The "-B" option needs to be removed from the nl man page

So these 3 lines need to be removed:

https://github.com/theimpossibleastronaut/rmw/blob/8101f44d573dd2fd43fe3c0e6c8bade99c944269/man/nl/rmw.1#L23-L25

[2018-10-26 21:36] #195 closed

[2018-10-26 21:38] #196 closed

[2018-10-27 04:04] andy5995 opened #199 "The "-B" option needs to be removed from the Nepali man page"
The "-B" option needs to be removed from the Nepali man page

So these 3 lines need to be removed:

https://github.com/theimpossibleastronaut/rmw/blob/4900258786e11e947a24508dd1905c29d031cd96/man/ne/rmw.1#L23-L25

*Please remember to "star" this project*

[2018-10-28 04:37] andy5995 opened #201 "when using "list", show removable devices even if they're detached"
https://github.com/theimpossibleastronaut/rmw/blob/5f00a2d0ed8996dc6a6867057e93eca3607bd363/src/rmw.c#L263-L271

[2018-10-28 04:47] #201 closed

[2018-10-28 05:58] andy5995 commented on #40
I'll reopen this later depending on feature-demand.

[2018-10-28 05:58] #40 closed

[2018-10-28 06:11] andy5995 commented on #129
I'll take this issue. Planning to implement my first [binary node tree](http://www.zentut.com/c-tutorial/c-binary-search-tree/)

[2018-10-30 05:59] #129 closed

[2018-11-04 06:04] #136 closed

[2018-11-08 07:09] andy5995 opened #202 "corrupted size vs. prev_size"
I got this message when using the left and right keys of the restore selection menu:

corrupted size vs. prev_size4

I can reproduce it almost every time. Should be any easy fix.

[2018-11-08 18:52] #202 closed

[2018-11-13 01:49] andy5995 opened #203 "In some cases, rmw incorrectly reports invalid option in config file"
If -f is used at the command line, caused by the code at

https://github.com/theimpossibleastronaut/rmw/blob/0b8cdbe8dbd2a9e2339dce691d96c7fcd619b5c1/src/config_rmw.c#L414

[2018-11-13 08:28] #203 closed

[2018-11-13 14:03] andy5995 commented on #172
I'm able to reproduce this on OpenBsd 6.2.  from the test dir, running 'make test-basic' segfaults about 50 percent or more of the time.

[2018-11-13 14:13] andy5995 opened #204 "purging test fails on OpenBSD 6.2"
In the script, I used 'cp - a' , an option not supported by the cp command on openbsd 6.2

[2018-11-14 00:49] andy5995 commented on #172
Just going through the travis logs, there hasn't been a failed Travis build for a while. When it first started passing again was at commit https://github.com/theimpossibleastronaut/rmw/commit/673e7c848980f8f3636e3ea0ac025580be8f0ef9

As for the BSD issue, I asked about it in the [BSD forum on LQ](https://www.linuxquestions.org/questions/showthread.php?p=5925779#post5925779)

[2018-11-17 02:38] #172 closed

[2018-11-21 14:41] andy5995 opened #205 "In some cases, not all files are displayed when using '-s'"
Noticed today that when viewing the list of files (when -s is used), that the list is incomplete. It only happens on one of my 3 waster folders. There are no gaps but the list stops after some files that begin with the letter "c".

[2018-11-28 22:48] andy5995 commented on #205
After some debugging, I found that a filename containing the `’` character (146 on the extended ASCII chart) will cause this problem.

For example, if there is a file called `custer’s last stand`, at the menu selection window, I would see
[code]
and the listing would be ended. I can still scroll up and back down, and do everything as normal. I can quit the program and get a "0" for a return code.

[2018-11-29 03:59] andy5995 opened #206 "BSD and Mac build broken"
BSD and Mac build is broken after "fixing" #205. I should be able to change some things around tomorrow and get everything working again.

[2018-11-29 18:01] andy5995 commented on #205
I guess what's needed for this to work right is to add a lot of tests to configure.ac to make sure the includes can be found on every system. On OpenBSD they're in /usr/include

On Debian they are in /usr/include/ncursesw

God knows about all the systems and distros.

And on OpenBSD, pkg-config reports

[code]

Although they do exist

[code]

On Slackware, you only need the ncurses package, and th

[2018-11-29 18:13] #205 closed

[2018-11-29 18:35] #206 closed

[2018-11-29 18:50] andy5995 commented on #192
rmw creates its own configuration file now if it can't find one.

[2018-11-29 18:50] #192 closed

[2018-11-29 19:02] andy5995 opened #207 "On osx, required libs (libmenuw and ncursesw) can't be found"
Build fails,
on osx, required libs (libmenu and ncursesw) can't be found

[2018-11-30 14:51] andy5995 commented on #207
@sexybiggetje , can you tell me what output you get when you run `pkg-config --libs ncursesw`

[2018-11-30 20:51] sexybiggetje commented on #207
Sure!

[2018-12-01 04:47] andy5995 opened #208 "Design of the code-testing web page needs improvement"
https://github.com/theimpossibleastronaut/rmw/blob/8f97ea691b1e6e429e4ed5723e50c72d0d77aa36/docs/code-testing.html#L5

This is how it looks now:
https://remove-to-waste.info/code-testing.html

The design should remain simple, but look more organized.

You can preview your changes by running [jekyll](https://jekyllrb.com/) in the docs/ directory.

[2018-12-01 21:48] andy5995 commented on #207
ok, this is the output I get on mine when its found:

`-lncursesw -ltinfo`

What if you run `pkg-config --libs ncurses` (without the 'w' at the end)?

[2018-12-01 21:50] sexybiggetje commented on #207
Not too satisfactory I presume?

[2018-12-02 06:19] andy5995 commented on #207
I found an m4 file provided by the GNU aclocal package. Made things a bit easier for testing.

I don't know why pkg-config can't find the files on OpenBSD or High Sierra. I looked on my OpenBSD machine for the .pc files for ncurses and menu but couldn't find them.

[2018-12-02 19:13] andy5995 opened #210 "purge function can be split into two or more functions"
https://github.com/theimpossibleastronaut/rmw/blob/7456e89d561e0d3467d74abade865ea29ab74ad0/src/purging_rmw.c#L159

This function is far longer than it needs to be. Best to chop it up.

If you want some ideas on the first step, let me know.

If you have ideas on how to split it, run them by me first.

Before trying to make 3 or 4 functions out of it, let's just do one a time, i.e. wait for the fir

[2018-12-02 19:16] andy5995 opened #211 "CONTRIBUTORS page needs reviewing and updating"
I'll take this one.

[2018-12-02 19:18] andy5995 commented on #134
The implementation for this would be very similar to [realize_home()](https://github.com/theimpossibleastronaut/rmw/blob/32aa5ac27ffef325ba4f15b5c749c01058b6d3e1/src/config_rmw.c#L148-L169)

[2018-12-03 22:38] #204 closed

[2018-12-06 16:29] andy5995 commented on #207
The path to ncursesw.pc and menuw.pc can be manually specified. For example, although I already installed libncursesw with apt-get, I see it was also installed with brew:

    PKG_CONFIG_PATH=~/.linuxbrew/lib/pkgconfig ../configure

@sexybiggetje do you have those 2 pc files in your brew lib/pkgconfig directories?

[2018-12-06 17:43] #207 closed

[2018-12-06 17:56] andy5995 commented on #205
As far as I know, there aren't any real obstacles to building with wide-char ncurses support on Linux, BSD, or OSX, so I'll leave this closed for now. Documented at https://remove-to-waste.info/doxygen/html/bug.html

[2018-12-06 20:56] andy5995 opened #212 "The binary search tree isn't balanced"
https://github.com/theimpossibleastronaut/rmw/blob/e5939a55beafd0503ee362a4bffbe1f388e8b53e/src/bst.c#L2

https://github.com/theimpossibleastronaut/rmw/blob/e5939a55beafd0503ee362a4bffbe1f388e8b53e/src/restore_rmw.c#L372

The binary search tree used by restore_select() isn't balanced (because code to do so hasn't been added, not because of a bug).

[2018-12-06 21:01] andy5995 commented on #174
As far as I know, too much extra code from the GNU coreutils lib would have to be added for this to work. I think just addressing any known bugs (when they are revealed) with the current recursive rm function is what's important, and generally improving it as the need arises.

[2018-12-08 16:25] andy5995 opened #213 "rmw is unable to use the system trash folder on a Mac"
I may need to do some work to have rmw be able to access the system (desktop) trash on a Mac. I confess I never gave it any thought before. People have told me it worked it on a Mac, but I'm not sure any Mac user ever tried it with their system trash.

@msiverts

In the [rmw chat room](https://riot.im/app/#/room/!XeJxcdkywroPaRKKtr:matrix.org), I've asked @sexybiggetje about using the system trash

[2018-12-08 21:17] sexybiggetje commented on #213
I'm thinking that if there is any metadata at all it's attached to the files. Subfolders are trashed on emptying as well.

`kenpachi:andy martijn$ tree ~/.Trash/
/Users/martijn/.Trash/
└── test.txt

0 directories, 1 file`

[2018-12-12 15:51] andy5995 opened #214 "trashinfo file not get removed after file is restored"
A bug I recently introduced (it's not in the last release)

When a file is restored, the corresponding trashinfo file is not removed.

ping #16

[2018-12-12 16:14] andy5995 commented on #214
false alarm. I was reading the test output incorrectly.

[2018-12-12 16:14] #214 closed

[2018-12-13 21:32] andy5995 opened #215 "Compiler warnings should be fixed"
On the gcc 7 and 8 builds, the compiler is showing warnings such as

   snprintf (waste_curr->files, MP, "%s%s", waste_curr->parent, "/files/");
                                       ^~                       ~~~~~~~~~

   snprintf (waste_curr->files, MP, "%s%s", waste_curr->parent, "/files/");

This [travis log](https://travis-ci.org/theimpossibleastronaut/rmw/jobs/467677828) shows all the warnin

[2018-12-14 07:44] andy5995 opened #216 "'make distcheck` is broken"
I broke `make distcheck` with a recent commit.

[2018-12-26 18:44] dbugnar commented on #210
Hello, I had an idea and I split a bit the purge function. I opened a PR on this. If you have more ideas maybe I can continue working on this.
Thanks.

[2018-12-28 19:38] andy5995 commented on #210
https://github.com/theimpossibleastronaut/rmw/commit/ad9dab60be506b3c10d59ba03bf6ec9412bb4fd4

@dbugnar Thanks for the offer. As I look it over now, after your changes, I don't really see a need for any more splitting.

There are probably some other excessively long functions though but I can't think of them right now. I'll let you know.

[2018-12-28 19:38] #210 closed

[2019-01-18 18:22] andy5995 opened #218 "in some cases, using "tab" after `rmw` acts as "enter""
This happens in one of my xfce terminals. But only in one of the opened tabs. I suspect something got messed up in the terminal from some previous commands. However, this shouldn't happen. When I use 'rm' or 'mv', the behavior is normal for those programs.

At each prompt shown in the screenshot, I never used "enter" key, but only "tab".

![image](https://user-images.githubusercontent.com/16764864

[2019-03-14 20:24] andy5995 opened #219 "files needed to create a deb package"
Files required to create a standard debian-ized package could go into the /packaging directory.

[2019-05-04 12:05] #216 closed

[2019-06-11 23:17] andy5995 opened #220 "won't compile on Manjaro LInux"
@Jammyjamjamman reports

`
In file included from ../../src/rmw.c:36: ../../src/restore_rmw.h:39:4: error: #error "SysV-compatible Curses Menu header file required"  #  error "SysV-compatible Curses Menu header file required"
`

[2019-06-11 23:23] andy5995 opened #221 "./configure should fail if it can't find ncurses"
configure should fail if it can't find any usable curses required header or library

[2019-06-11 23:42] Jammyjamjamman commented on #221
Andy managed to help me to get this to work.I think there's a slight mistake in the wording for the build instructions:

This isn't only required for OpenBSD, but I think it's also true for most non-Debian-based Linux OS'es (or any linux os without the `ncursesw` libs).

[2019-06-12 17:26] andy5995 commented on #221
@Jammyjamjamman Could you try it with MENU_LIBS=-lmenuw and see if it still works? (w at the end)

[2019-06-12 17:54] #221 closed

[2019-06-12 17:55] andy5995 commented on #220
[got it working](https://github.com/theimpossibleastronaut/rmw/issues/221#issuecomment-501064313)

[2019-06-12 17:55] #220 closed

[2019-06-12 18:24] andy5995 commented on #221
@Jammyjamjamman I've updated that https://github.com/theimpossibleastronaut/rmw#if-configure-fails

Also patched configure.ac so configure should fail now if menu isn't found. Could you give it a test sometime?

Thanks for your help troubleshooting yesterday and doc suggestions.

[2019-06-13 22:23] andy5995 opened #222 "add rule to make a shared library"
@Jammyjamjamman requested a shared library... I can probably do this later tonight.

[2019-06-14 00:17] andy5995 commented on #222
Done in https://github.com/theimpossibleastronaut/rmw/commit/62305b9361e6853d14d24bb56468d561f72f30a6

besides the TODO items mentioned in the commit message, a .pc file should be added

[2019-06-14 04:18] andy5995 opened #223 "when installed as library, header files not installed"
The header files don't get installed when the shared libraries are built.

Problem is, they should only get installed if the library is built, not when rmw is only being built for binary purposes.

I'm not sure how to set the condition yet.

[2019-06-14 04:21] andy5995 opened #224 "add package config file"
A .pc file should be added at some point, but this can't be completed until #223 is resolved.

[2019-06-14 04:23] andy5995 opened #225 "versioning of the shared library needs to be set"
The shared library needs to be versioned but I'm not sure yet what I should set the numbers to

https://autotools.io/libtool/version.html

[2019-06-14 04:23] andy5995 commented on #222
I created separate tickets for the library-related TODOs

[2019-06-14 04:23] #222 closed

[2019-06-15 05:34] #224 closed

[2019-06-15 20:56] andy5995 opened #226 "static library gets built no matter what"
In configure.ac, when I use

AC_DISABLE_STATIC
AC_DISABLE_SHARED

one of the libraries gets built anyway, although --help shows the default on both is set to "no"

For now I've disabled the shared in configure.ac, so the static gets built.

using --disable-static has no effect.

[2019-06-15 20:57] andy5995 opened #227 "static library gets installed"
Though [I've used "noinst"](https://github.com/theimpossibleastronaut/rmw/commit/29a2d12cbcdf2b0119aff6fb79b03fe66397a75e#diff-480477e89f9b6ddafb30c4383dcdd705), the static library gets installed when `make install` is run

https://www.gnu.org/software/automake/manual/html_node/A-Library.html

[2019-06-15 21:03] andy5995 opened #228 "need travis test for building a shared library"

[2019-06-15 22:11] #226 closed

[2019-06-15 22:22] #208 closed

[2019-06-17 22:45] Jammyjamjamman opened #229 "Add an option to force empty the trash immediately"
Currently, an environment variable is required to empty the trash immediately:

        RMWTRASH=empty rmw -fg

I think this would look better if it was an option, like --empty/ e (as @andy5995 suggested):

        rmw -fge

This would be a considerably more dangerous option, so I see why this option is not so easily available.

[2019-06-17 22:46] andy5995 opened #230 "add dry run option for purge"
Adding a dry run (-n) option for purge was discussed on IRC today. I think ultimately that would be a good feature. I don't feel a need for it personally because for my workflow, if I have stuff in the trash for 45 or 90 days and haven't missed it, I don't worry that I need to review what will be purged.

But I could see how some users might like that feature and would consider adding it in the fu

[2019-06-17 22:52] andy5995 commented on #229
Let's require 2 f's, like what's needed for [removing files that are -w](https://github.com/theimpossibleastronaut/rmw/blob/77260724ae42d3154ad17eefadca4cc6e015ddb5/src/purging_rmw.c#L83)

And you'll see in rmw.c how easy it is to add both the -e and --empty options.

The RMWTRASH=fake-year can still be used for testing I think. Maybe we'll think of a better alternative solution for that in the fu

[2019-06-17 23:06] andy5995 opened #231 "force should not be required by default"
This was only added as an extra "safety" feature, but the majority of users will not want to use -f to get purge to run.

https://github.com/theimpossibleastronaut/rmw/blob/77260724ae42d3154ad17eefadca4cc6e015ddb5/rmwrc#L38

This should be uncommented in the default config, and the docs should be changed to indicate that if they want extra confirmation, they can comment out that line.

besides the

[2019-06-18 21:38] andy5995 commented on #230
I added a patch to test this for purging, and plan to implement it for just regular rmw'ing.

[2019-06-18 23:06] Jammyjamjamman commented on #229
Yeah I think external vars are fine for setting development options.

I can try and fix this at some point xD, although my C programming knowledge is a little rusty...

[2019-06-18 23:15] andy5995 commented on #230
The -n, --dry-run options haven't been added yet but that'll happen before the next release.

[2019-06-19 04:09] andy5995 commented on #229
@Jammyjamjamman you won't have any major trouble with the patch, trust me. When you get to it, it'll probably take you less than 30 minutes.

Just look at the section in main where the command line options are parsed. You're just going to add another one.

`const char *const short_options = "hvc:goz:lstuwVfir";`

The colons in that line means that the option takes an argument. e.g. "-c alternate c

[2019-06-21 04:12] andy5995 opened #233 "missing output when purge attempted without force"
I think this is a UX bug I introduced between the last release and the one prior to that.

Output should be "purge has been skipped: use -f or --force" if purge tries to run without the -f option.

I'm working on this as part of #232.

[2019-06-21 20:04] #231 closed

[2019-06-21 20:04] #233 closed

[2019-06-22 04:04] andy5995 opened #234 "too much output when rmw is first run"
Here's the output of ./rmw if it's never been run before

[code]
* obviously purge doesn't need to run.
* The user doesn't need to see the "no filenames or command line options given"...

[2019-06-22 19:48] andy5995 opened #235 "In some cases, if system time is in UTC format, 'make check' fails"
running 'make check' on Manjaro shows 1 failed test.

I see in test/purging.sh.log the problem...

[code]

Probably affects arch too.

I think [that loop isn't portable and just needs to be changed](https://github.com/theimpossibleastronaut/rmw/blob/c13838e1e3c283f77f79c0dfe9a8d992a5ab189b/test/purging.sh.in#L34).

[2019-06-22 21:21] #234 closed

[2019-06-22 21:37] andy5995 opened #236 "configure should quit if gettext isn't install && disable-nls isn't used"
Just experienced this on Manjaro..

when make is run, if gettext isn't installed, it fails at the end when it tries to generate .gmo (language) files.

works if `--disable-nls` is used or after installing the gettext package xD

configure should quit if gettext isn't install && disable-nls isn't used

https://github.com/theimpossibleastronaut/rmw/blob/aaea1692a54f772eb664c0b8cfd815713a679d32/confi

[2019-06-24 03:35] #215 closed

[2019-06-24 17:18] andy5995 commented on #235
My mistake.. the loop isn't the problem. For reason, the files with the "fake year" aren't getting purged. output from the test:

[code]

Why this would happen on Manjaro but not other distros is beyond me.

[2019-06-24 17:21] andy5995 commented on #235
I forgot to mention, that's through a Manjaro docker image, not an actual installation. @Jammyjamjamman does `make check` pass all 6 tests for you?

[2019-06-25 05:46] andy5995 opened #237 "close() shouldn't be called if fopen returned NULL"
I've recently [read that close() shouldn't be called on a file pointer if the file pointer is NULL](https://www.linuxquestions.org/questions/programming-9/code-review-too-much-error-checking-is-it-handled-well-4175656205/#post6008673) (happens if fopen() can't open a file, for example).

There are various places in the code base where when fopen() returns NULL, close is called anyway.

[2019-06-25 05:55] andy5995 commented on #235
This problem might be related to #237 since that can cause "unexpected" results..

[2019-06-25 16:14] andy5995 opened #238 "make the value written to "lastpurge" more robust"
The value written to lastpurge is just day of month.

[NevemTeve suggested](https://www.linuxquestions.org/questions/programming-9/code-review-too-much-error-checking-is-it-handled-well-4175656205/#post6008754) making that more robust:

I agree. Though the only problem I anticipate with it as-is is that if someone uses rmw on the 10th of June, and then the next time 10th of July or August, purge w

[2019-06-25 22:41] andy5995 commented on #237
I forgot, I have a wrapper function. Only needed to change one place, which I'm very happy about.

[2019-06-25 22:42] #237 closed

[2019-06-26 17:06] #211 closed

[2019-06-26 22:40] andy5995 opened #239 "distributing releases as App Images"
With a small program like rmw, would there be any advantage to offering [App Images](https://appimage.org/)? And if so, would anyone be interested in maintaining it?

[2019-06-26 23:18] #227 closed

[2019-06-26 23:18] #228 closed

[2019-06-26 23:18] #223 closed

[2019-06-26 23:18] #225 closed

[2019-06-27 03:00] andy5995 commented on #235
problem happens in an archlinux docker container too. (thought I'd check since Manjaro is an arch derivative).

[2019-06-27 05:20] andy5995 commented on #235
The system time on the Manjaro and Arch docker containers are in the format of

`Thu Jun 27 05:14:51 UTC 2019`

When I changed it to this format: `Thu Jun 27 00:13:19 CDT 2019`, then `make check` succeeded.

[2019-06-27 17:12] andy5995 commented on #235
After setting the system time to UTC on my workstation, Debian 10, I can't reproduce this yet.

[2019-06-27 20:00] #235 closed

[2019-06-27 20:14] andy5995 opened #240 "need test for purge_after = 0"
Using purge_after = 0 in the conf file works but I need a test to make sure it works in all cases it's supposed to, such as when "empty" is used. Basically just need to review some conditions and write a test. Probably will use another bash script for that.

[2019-06-28 20:31] andy5995 commented on #229
On second thought, I think it'll be safe enough declare it and initialize it here:

https://github.com/theimpossibleastronaut/rmw/blob/f3c5ec36f2b2e7775d603af8f0ca5b9c75253491/src/rmw.c#L78

You'll add the condition here, depending on what the user wants

https://github.com/theimpossibleastronaut/rmw/blob/f3c5ec36f2b2e7775d603af8f0ca5b9c75253491/src/rmw.c#L138-L199

The you can use the 'extern' ke

[2019-06-29 00:27] andy5995 opened #241 "translating the man page with po4a"
This ticket will sit for a while.. I need to decide what to do about the existing man page, it hasn't been fully reviewed or updated in a while. I don't know how necessary a complete man page is for a project like rmw.

I just experimented with [po4a](https://po4a.org/).. pretty straightforward it seems, but all I tried so far was to create the .pot (template) file.

Best case would be that some o

[2019-06-29 20:15] andy5995 commented on #174
I think I can do this with busybox, which also has a good rep and been around a long time.

[2019-06-30 17:57] andy5995 commented on #174
On second thought, gonna go back to what I said earlier

[2019-06-30 17:57] #174 closed

[2019-07-01 04:54] andy5995 opened #243 "[test]url_encoding fails on osx"
This happened after I added the [url_encoding test](https://github.com/theimpossibleastronaut/rmw/blob/master/test/url_encoding.c).

[code]

https://travis-ci.org/theimpossibleastronaut/rmw/jobs/552589933#L1806

[2019-07-02 18:18] andy5995 commented on #240
I think the the best way is to put the check for "0" at the very top of the purge() function instead of in main()

https://github.com/theimpossibleastronaut/rmw/blob/bcb9e1479b2a978680d5157e280a46ab7c72097f/src/rmw.c#L304

It's it's 0, then return, no exceptions.

[2019-07-03 20:42] #229 closed

[2019-07-03 21:00] andy5995 opened #246 "README.md and ChangeLog should be reviewed before release"

[2019-07-03 21:09] #240 closed

[2019-07-03 21:37] andy5995 opened #247 "move remaining cli options into the existing struct"

[2019-07-03 22:12] andy5995 opened #248 "Russian translation, review and update"
Hi @svitlana-galianova :)

Any time these days to update our translation?

https://remove-to-waste.info/translating.html

(We do have one pending string change before the next release https://github.com/theimpossibleastronaut/rmw/pull/244)

[2019-07-04 04:21] andy5995 opened #250 "Dutch translation, review and update"
Dutch translations

@sexybiggetje, I'm freezing the strings; if anybody tries changing them now, they'll answer to me.

No one's offered to do any German translations yet, so those are up for grabs too. Let me know if you want to.

[2019-07-04 19:57] #246 closed

[2019-07-04 21:23] #243 closed

[2019-07-05 22:44] andy5995 opened #251 "German translation update"
@titiger offered to do the [German translation](https://github.com/theimpossibleastronaut/rmw/blob/master/po/de_DE.po)

[2019-07-06 04:56] andy5995 opened #253 "docs should mention what Desktops rmw works with"
@elextr of the @Geany project was kind enough to take a look at the rmw web site and suggested that along with the distros mentioned, it should list the desktops that rmw works with.

The goal is [The FreeDesktop.org Trash specification](https://specifications.freedesktop.org/trash-spec/trashspec-latest.html), and I've tested rmw in the past with KDE, GNOME, and currently with XFCE (the desktop I

[2019-07-06 16:57] #247 closed

[2019-07-06 17:02] Jammyjamjamman commented on #253
I'm not entirely sure what @elextr is exactly wanting. But, from what I can tell, this is solely a CLI project which is totally independent from whichever desktop you're using.... it doesn't even need a desktop environment! Debatably, that means you could say rmw is compatible with all desktops or no desktops.

Although freedesktop claims it's *`a project to work on interoperability and shared bas

[2019-07-06 17:52] andy5995 commented on #253
These are the first 2 lines of my config file

[code]

The 2nd line is for my "Desktop" trash, i.e. The files that I see when I open the trash on my XFCE Desktop. When I run purge, it will scan that as well as the first. Also, if I use `rmw -s` I can view the files that are in there, and optionally restore them.

That's about the extent of the desktop integration.

One way that rmw tries to confor

[2019-07-06 19:46] #250 closed

[2019-07-06 23:01] #251 closed

[2019-07-07 01:17] elextr commented on #253
@Jammyjamjamman the first line of the website says it sends files to _desktop_ trash, that implys to me that if I open my desktops file manager and click on the trash icon it will show files trashed by rmw.

So I just pointed out that further down it lists _distros_ it has been tested with, but not which _desktops_ it has been tested with on those distros.  I'm a bit of a cynic about desktops comp

[2019-07-07 02:34] andy5995 commented on #253
@elextr , you were right to infer that; I failed to mention above, it can do that, too.

However, in the [default config file](https://github.com/theimpossibleastronaut/rmw/blob/e2b15e72daf8dad780abde366fe4103a5a7feb21/rmwrc#L10), that's disabled. rmw doesn't try to automatically detect the path to the "desktop" trash, the user has to uncomment the line or enter it manually.

In this example, both

[2019-07-07 19:09] Jammyjamjamman commented on #253
I see. I only brief-read website intro + didn't know what desktop compatibility` meant for this project, which is why I was confused.

I wonder which desktops are actually freedesktop compliant... "the good ones" xD

[2019-07-08 05:15] andy5995 commented on #253
In the "early days" of testing rmw, I tried on KDE and Gnome on Slackware, Debian, and probably some others, I don't remember. At the time, both those desktops used the ~/.local/share/Trash  folder and the same `.trashinfo` file format that rmw uses today.

I've been using Xfce for the last few years, and that's the same as well.

[2019-07-09 05:05] andy5995 commented on #253
Just tested with XFCE on OpenBSD 6.4; looks like another match.

[2019-07-09 18:56] #253 closed

[2019-07-09 19:54] andy5995 commented on #253
I've updated the program description and added info to the [faq on the website](https://remove-to-waste.info/faq.html)

[2019-07-12 21:10] andy5995 commented on #134
I think that a new function could be added, a generic "string replace" function that handles either $HOME or $UID ... some details about that in [this LQ thread](https://www.linuxquestions.org/questions/programming-9/%5Bc%5D-function-to-replace-part-of-a-string-request-for-code-review-4175619852/).

[2019-07-16 20:47] #238 closed

[2019-07-20 19:33] andy5995 opened #257 "incorrect value for strncat in multiple locations"
Hate to admit it, but I used strncat() improperly at a few locations. The first 3 are in v0.7.02. might merit a new release, but I don't anticipate it's very likely to cause anyone problems

https://github.com/theimpossibleastronaut/rmw/blob/deeaeb3b5c63c7367384fd49e9262a6cab79833f/src/rmw.c#L393-L394

https://github.com/theimpossibleastronaut/rmw/blob/deeaeb3b5c63c7367384fd49e9262a6cab79833f/src/

[2019-07-20 20:32] andy5995 commented on #257
I think using just regular strcat() would perfectly safe in those cases, as I'm already checking to make sure that the length doesn't exceed the allocated buffer.

[2019-07-20 23:12] #257 closed

[2019-07-23 19:13] andy5995 commented on #16
I don't see that anything else has to be done with this.

[2019-07-23 19:13] #16 closed

[2019-07-23 19:21] andy5995 commented on #134
The way I was thinking to approach this is using 2 functions near [this location](https://github.com/theimpossibleastronaut/rmw/blob/master/src/config_rmw.c#L208). One to check it a WASTE line contains "$HOME", ,"~", or "$UID". If so, it calls a string replace function, something like like

strreplace (tmp_waste_parent_folder, which_string_found, replace_with_literal_value)

[2019-07-23 23:18] andy5995 commented on #134
@Jammyjamjamman I'm gonna start on this tonight or tomorrow. Unless you already did..?

[2019-07-25 21:42] Jammyjamjamman commented on #239
Because its so small and has not too many deps, I'd be more tempted to distribute a static-lib-build version instead... assuming that is possible.

[2019-07-25 22:05] andy5995 commented on #239
A static build can be done by doing `LDFLAGS=-static ../configure` before make.

I added an rpm package with a static build to the [0.7.02 release page](https://github.com/theimpossibleastronaut/rmw/releases/tag/v0.7.02)

Thanks for the feedback about appimage. I'll defer to your judgment on this issue.

[2019-07-25 22:05] #239 closed

[2019-07-25 22:32] andy5995 opened #259 "make a dot editorconfig file"

[2019-07-26 00:17] #259 closed

[2019-07-29 19:01] andy5995 opened #260 "valgrind reports leaky code when rmw -s is used"
`valgrind --leak-check=full ./rmw -s`

[code]

[2019-07-30 03:21] andy5995 commented on #260
I checked and couldn't find any issues, (but it would be easy for me to miss something as I'm not great at debugging); however, there may not be anything I can do about it. See

https://stackoverflow.com/questions/38516708/ncurses-memory-allocation-valgrind-message

https://stackoverflow.com/questions/32410125/valgrind-shows-memory-leaks-from-ncurses-commands-after-using-appropriate-free

[2019-07-30 08:48] #134 closed

[2019-08-01 17:26] andy5995 opened #261 "Anything to address before the next release?"
Anything need to be done before the next release?

[2019-08-06 19:50] andy5995 commented on #212
I'm not sure if much would be gained by balancing. The binary tree is created and it outputs the list, but because it doesn't get "searched" later, I'm just not too sure adding the code to balance the list first would provide much benefit.

[2019-08-07 03:41] andy5995 opened #263 "some dirs should be changed to conform to FreeDesktop Trash specs"
https://specifications.freedesktop.org/trash-spec/trashspec-latest.html

[2019-08-07 03:42] andy5995 commented on #261
The release was completed https://github.com/theimpossibleastronaut/rmw/releases/tag/v0.7.03

[2019-08-07 03:42] #261 closed

[2019-08-07 21:14] andy5995 opened #264 "Patch bumps v0.7.03 to v0.7.03-2"
[rmw-patch-0.7.03-2_20190807.patch](https://github.com/theimpossibleastronaut/rmw/releases/download/v0.7.03/rmw-patch-0.7.03-2_20190807.patch) is a [low-priority patch](https://github.com/theimpossibleastronaut/rmw/blob/d2613a6327f437ba784bf3341436f69263f27a6e/ChangeLog) that can be applied to [v0.7.03](https://github.com/theimpossibleastronaut/rmw/releases/tag/v0.7.03) and will bump the version t

[2019-08-08 21:14] andy5995 commented on #263
https://specifications.freedesktop.org/basedir-spec/basedir-spec-0.6.html

[2019-08-08 21:58] andy5995 opened #265 "lastpurge and lastrmw: filenames should be changed"
I don't like these filenames

https://github.com/theimpossibleastronaut/rmw/blob/d5c88a822c64ce8c1450f5185bf65a5be763b11c/src/rmw.h#L63-L64

`lastrmw` contains a list of the files which were last ReMoved

`lastpurge` contains the time of the last time purge was done.

Any suggestions for better file names?

[2019-08-08 22:07] andy5995 commented on #263
So probably what we want is a function like this:

https://github.com/theimpossibleastronaut/rmw/blob/d5c88a822c64ce8c1450f5185bf65a5be763b11c/src/main.c#L190-L219

And the rmw config file would go to the the config home and be named `.rmwrc`; the 2 "data" files (#265) should go into $...DATA_HOME/rmw; The default trash, instead of being ~/.trash.rmw should be $...DATA_HOME/rmw-Waste (or something

[2019-08-08 22:11] #248 closed

[2019-08-10 19:32] andy5995 commented on #263
I'm leaning toward replacing ~/.trash.rmw with ~/.local/share/Waste at the top of the config file, but commented out. which would mean no waste folders enabled by default. Why should rmw create that folder if someone just wants to use his or her desktop trash folder (likely ~/.local/share/Trash).  Easy enough for a cli user to edit the conf file, imo.

[2019-08-11 04:58] #219 closed

[2019-08-12 05:41] #263 closed

[2019-08-12 05:41] #265 closed

[2019-10-04 20:51] andy5995 commented on #71
I'll let a regular Windows developer decide on the best way to do this. My only requirement is that it use the existing build system GNU autotools.

[2019-10-04 20:51] #264 closed

[2019-10-04 20:57] andy5995 opened #268 "add RPM spec template"
Support for an `rpm dist` target can be added with the autoconf macro

`AX_DIST_RPM([SPEC])`

However,

See https://www.gnu.org/software/autoconf-archive/ax_dist_rpm.html#ax_dist_rpm for more details

[2019-10-07 20:25] blackfile commented on #268
@andy5995  I can help with this issue

[2019-10-07 22:30] andy5995 commented on #268
Hi @blackfile

No spec file exists yet. It can go in the `packaging` directory.

[2019-10-09 23:46] andy5995 commented on #268
The [spec template was added](https://github.com/theimpossibleastronaut/rmw/commit/2a3b72571a38459b49f4dae6fb9dfbe02324bed8) by @blackfile  but we're not going to add a `dist-rpm` target.. autotools requires too many extra files.

rpmbuild should be able to use it, but it fails when "-dev" is appended to the version name. Also, not all files are being included when I tried temporarily changing the

[2019-10-09 23:53] #268 closed

[2019-11-26 23:48] Jammyjamjamman commented on #260
Some things which concern me about the valgrind message. Yours mentions "definitely lost" memory, whereas in the first stackoverflow post:

[code]
All the leaks are under "still reachable".

Also, taking the quote from the second stackoverflow post which quoted https://invisible-island.net/ncurses/ncurses.faq.html#config_leaks :

So we should try this flag. Also, any malloc'ing code should be test

[2019-11-27 00:15] Jammyjamjamman commented on #212
If we want to balance the tree without too much modification to the code, I would recommend implementing an AVL tree.
See: https://www.geeksforgeeks.org/avl-tree-set-1-insertion/

Another option is to use a B+ tree. This is a good option when storing a very big tree on a hard disk, because it's very shallow. Finding a node in a shallow tree requires (on average) accessing less nodes than a deep tr

[2019-11-27 00:31] Jammyjamjamman opened #272 "Wildcards do not work for "-z" option"
The help claims you can use wildcards with `-z` option, but this does not work for me. Wildcards only work for deleting files for me.

[2019-11-28 05:01] andy5995 commented on #272
@Jammyjamjamman , thanks for testing that feature. It works under certain condtions; please see the notes in the [README](https://github.com/theimpossibleastronaut/rmw/blob/master/README.md), under the heading for the -z option.

But now that you mention it, some changes need to be made. I'd guess the UX you had would be quite common.

Best thing would be that -z would work in all cases, which.. p

[2019-11-28 05:07] andy5995 opened #273 "update screenshots"
I need to update the screenie that appears on the README and on https://remove-to-waste.info/screenshots.html and https://remove-to-waste.info/ (probably all the same file)

[2020-04-14 04:38] andy5995 commented on #273
Completed by @sexybiggetje in https://github.com/theimpossibleastronaut/rmw/pull/275

[2020-04-14 04:38] #273 closed

[2020-04-17 04:42] andy5995 opened #276 "create Hindi translation"
@Mishrasubha  has offered to help with this :)

[2020-04-20 16:07] #276 closed

[2020-04-20 16:09] andy5995 commented on #272
Here's what the README says about using -z

[code]

[2020-04-20 16:09] #272 closed

[2020-04-25 04:57] andy5995 commented on #71
I think I could be open to a different build system for Windows. Again.. I'd leave that to the developer to decide.

[2020-05-17 13:17] muralikodali opened #280 "compiling on arch linux failed"
compiling on arch linux failed with following errors :

Making all in src
make[1]: Entering directory '/home/murali/Downloads/rmw/build/src'
make  all-am
make[2]: Entering directory '/home/murali/Downloads/rmw/build/src'
  CCLD     rmw
/bin/ld: rmw-restore_rmw.o:/home/murali/Downloads/rmw/build/src/../../src/rmw.h:95: multiple definition of `verbose'; rmw-main.o:/home/murali/Downloads/rmw/build/sr

[2020-05-17 15:24] andy5995 commented on #280
Hi @muralikodali . Thanks for your interest in rmw.

Which version of arch and which version of rmw?

[2020-05-17 15:40] muralikodali commented on #280
arch linux -  Linux 5.6.13-arch1-1
(archlinux-2020.05.01-x86_64)

i have cloned rmw with git, today.

[2020-05-17 15:40] andy5995 commented on #280
I have archlinux in a docker image. I haven't updated it in several months. I ran the image, and built rmw with no problems. Then I updated the arch image. After that, I got the same errors as @muralikodali

Compiler: gcc (GCC) 10.1.0

This is the first time I tried building rmw with a gcc version higher than 9.

I have no idea how to fix or workaround this yet, or if it will fix itself with a dif

[2020-05-18 02:58] andy5995 commented on #280
I created a [post on LQ](https://www.linuxquestions.org/questions/showthread.php?p=6124441#post6124441) for this issue.

[2020-05-18 17:03] #280 closed

[2020-05-18 17:08] andy5995 commented on #280
Fixed @muralikodali . Thank you for the report.

[2020-05-19 08:20] muralikodali commented on #280
thanks.
compiled successfully on my machine.

[2020-05-20 16:50] andy5995 commented on #280
I appreciate you trying it out, @muralikodali.  Please let me know sometime how rmw works for you

[2020-05-21 17:06] andy5995 opened #281 "broken translations for help output"
Note that the help output only shows a partial translation, although the translation is complete [in the po file](https://github.com/theimpossibleastronaut/rmw/blob/8aab0633ba6b3e57f0bbcae452d5037bb3eb4053/po/hi_IN.po#L449). This happens for all translations.

![Screenshot_2020-05-21_11-38-30](https://user-images.githubusercontent.com/16764864/82585274-5d6d6100-9b5b-11ea-80fa-539221ea8f82.png)

[2020-05-28 05:14] #177 closed

[2020-05-28 05:15] andy5995 commented on #177
Already some validation happening. I'll add more later if needed.

[2020-06-04 03:58] andy5995 opened #282 "`make check` fails on osx (travis)"
'make check' fails on osx in the Travis build environment

https://travis-ci.org/github/theimpossibleastronaut/rmw/jobs/694503566#L4138

[2020-06-05 03:26] #282 closed

[2020-06-07 04:39] andy5995 opened #283 "purging test fails on xcode 11.5 and above (Travis)"

[2020-06-18 05:40] andy5995 commented on #280
Hey @muralikodali , I published a new release yesterday with the gcc-10 fix included.

[2020-07-03 04:11] andy5995 opened #287 "Add tests on Travis for a release build"
After https://github.com/theimpossibleastronaut/rmw/pull/286 is completed, a test needs to be added to Travis to test a release build, probably to the existing DISTCHECK test, and perhaps 8 and 10 as well.

[2020-07-05 03:14] andy5995 commented on #71
Starting to add a cmake build system in https://github.com/theimpossibleastronaut/rmw/pull/288.

[2020-07-05 17:24] andy5995 commented on #71
I don't have the patience for it. Closing that draft.

[2020-08-02 18:55] andy5995 opened #289 "Orphan function should do reverse check as well"
The --orphan function checks to make sure that there is a corresponding file for every trashinfo file. But if there's a trashinfo file and not a corresponding file in a WASTE/files/ dir, this could happen (which I'm sure was caused at some point during testing, not from a stable release):

[code]

[2020-08-27 18:18] #289 closed

[2020-08-30 05:42] #287 closed

[2020-10-19 21:05] andy5995 commented on #212
Time to close this...

[2020-10-19 21:05] #212 closed

[2020-10-23 05:45] andy5995 opened #291 "symlinks are not written to the mrl file"
When `rmw` is used on a symlink, its path and filename aren't written to the mrl file.

[2020-11-29 16:53] andy5995 commented on #281
This is caused by the [fuzzy entries](https://www.gnu.org/software/gettext/manual/html_node/Fuzzy-Entries.html#Fuzzy-Entries); it's not a bug.

[2020-11-29 16:56] #281 closed

[2020-11-30 13:38] andy5995 commented on #291
I'm not able to reproduce this with the dev version.

[2020-11-30 13:39] #291 closed

[2020-11-30 13:43] andy5995 opened #292 "Restoring a broken symlink reports ':File not found:'"
And often a valid symlink will become broken after using rmw to move it to a waste folder.

Fortunately rmw can see them well enough to purge them.

[2020-11-30 15:53] #292 closed

[2020-12-11 16:08] andy5995 opened #297 "implement logging for restore and purge operations"
How I see this as being implemented:

Logs will be written to the rmw data folder (where the mrl is located)

When rmw does a restore with -u, -z, or -s, rmw will write a single restore.log file that lists the destination/filename

When purge is run, a single purge.log file will be written containing those names as they appeared in the waste/files folder (not their original location).

The log fil

[2021-03-05 16:38] andy5995 commented on #260
Here's the output since the last commit:

[code]

[2021-03-05 18:44] Jammyjamjamman commented on #260
Just tested on my computer. More-or-less the same result. Looks like you've fixed the bug :+1:

[2021-03-05 19:18] andy5995 commented on #260
Thanks for testing, @Jammyjamjamman

[2021-03-05 19:18] #260 closed

[2021-04-07 19:31] andy5995 opened #299 "In some cases, rmw has unpredictable behavior when restoring from a removable device"
How I reproduced this error:

1. Removed files from /mnt/flash (where flash is the topdir) using the "move to trash" option from the thunar file manager in xfce

2. Attempted to restore with rmw produced this error:

[code]

Looking at the info files created when I used "move to trash", I saw that the absolute path was not used for the "Path" key. Reading the [Freedesktop trash spec](https://speci

[2021-04-09 19:06] andy5995 commented on #283
Also happens with 11.6 and 12.2

https://travis-ci.com/github/theimpossibleastronaut/rmw/builds/222669680

[2021-04-12 04:12] andy5995 commented on #283
We can see the error log now.

Here's some of the output [where the error occurs](https://travis-ci.com/github/theimpossibleastronaut/rmw/jobs/497602032#L913)

Note that this text: "Purging files based on number of days in the waste folders (90) ..." is displayed *after* the error messages, instead of before. Normally rmw will output that *before* actually trying to purge any files.

[code]

[2021-04-17 04:07] andy5995 commented on #299
I'm picking away at this a little bit almost every day. Almost done; mostly just working on tests. Branch [patch/iss-299](https://github.com/theimpossibleastronaut/rmw/tree/patch/iss-299).

Due to the nature of this bug, once this issue is closed, a release should follow soon after.

[2021-04-18 04:58] #299 closed

[2021-04-23 18:41] andy5995 commented on #283
This is the build system info for the job using xcode 11.6 (failing)

[code]

And for xcode 11.2 (passing)

[code]

[2021-04-24 19:53] andy5995 commented on #260
I actually introduced a bug with the commit on Mar 5, causing a segfault when `rmw -s` was ran. But now it's fixed, and zero errors shown at the bottom.

![image](https://user-images.githubusercontent.com/16764864/115971188-ac124080-a50c-11eb-8e8a-0b76c9ea6325.png)

[2021-04-25 18:56] andy5995 opened #301 "list output shows removable devices as "attached" even when they aren't"
As mentioned in #300, the list output is slightly broken.

Turns out the bug wasn't introduced recently, but has been included since v0.7.04.

[2021-04-25 19:17] #301 closed

[2021-04-26 05:59] andy5995 commented on #283
I tried using [faccessat()](https://linux.die.net/man/2/faccessat) instead of lstat() for the exists() function, but that made things worse. [5/11 tests failed](https://travis-ci.com/github/theimpossibleastronaut/rmw/builds/224114755) on the osx build.

(I cancelled all the Linux jobs on that build, but some show at https://travis-ci.com/github/theimpossibleastronaut/rmw/builds/224114055)

[2021-04-27 21:46] andy5995 commented on #218
I've never been able to reproduce this and no has reported anything similar. Maybe a terminal glitch.

[2021-04-27 21:46] #218 closed

[2021-04-27 23:14] andy5995 commented on #283
There's likely something screwy going on around https://github.com/theimpossibleastronaut/rmw/blob/c3eebb9e3560606204c65853f107c47b49e3d49c/src/purging_rmw.c#L364-L467

Not sure what yet. But that code is so old and obfuscated it needs refactoring, which I'll do within the next couple weeks.

[2021-04-28 18:55] #283 closed

[2021-04-29 14:52] oyvindsaether opened #304 "rmw could have rm compatibility, rmw currently lacks -d, -i, -I and --one-file-system"
The first question that came to mind when looking at rmw is:

_Can it be used as a drop-in replacement for rm?_

or put differently,

Can you set ```alias rm='rmw'``` and expect everything you'd be able to do with ```rm``` to magically still work if you do that? The answer is that you can't because rmw doesn't support the options rm has. I think it should, but I'm not very important.

That rmw -f

[2021-04-29 15:42] #304 closed

[2021-05-02 19:14] andy5995 opened #307 "When using a wildcard, rmw refuses to remove dot files in some cases"
When trying to remove 'foo/.local' with a wildcard:

[code]

However, 'rmw foo/.l*' will be successful.

'rm' will do it, and give messages about skipping over the dot directories.

[code]

[2021-05-05 08:02] andy5995 opened #308 "Filenames don't display properly when using '-vvg'"
Bug introduced in release v0.7.08

[code]

[2021-05-05 08:52] #308 closed

[2021-05-12 07:22] #297 closed

[2021-05-12 07:22] #307 closed

[2021-05-12 07:24] andy5995 commented on #297
While this feature might be nice,  I don't think it's worth it to add and maintain extra code for a utility such as rmw.

[2021-05-17 05:47] andy5995 opened #314 "one of the restore tests fails if run with su privileges"
Naturally it's this one that relies on NOT having permissions...

https://github.com/theimpossibleastronaut/rmw/blob/d48b7683fbe88aec8ca5230abdf3f2601f8dc929/test/test_restore.sh.in#L69-L75

[2021-05-23 06:20] andy5995 opened #316 "[Travis]Sometimes tests that use rmw_mkdir() fail"
The rmw_mkdir() test *sometimes* fails on MacOS. I've recently noticed it about 1 out of 6 times when I push to the master branch.

[code]
https://travis-ci.com/github/theimpossibleastronaut/rmw/jobs/506968021#L917

I haven't seen it happen yet with GitHub Actions, just Travis. And it seems to randomly be one of the three Mac jobs.

[2021-05-23 06:30] #314 closed

[2021-05-23 06:33] andy5995 opened #317 "warning that sprintf might overflow the buffer in human_readable_size()"
[code]

[2021-05-23 06:58] andy5995 commented on #316
This issue was not fixed by https://github.com/theimpossibleastronaut/rmw/commit/a6b66cd7f190592f511b5d4dac5f80824bf208cf

[2021-05-26 21:18] andy5995 commented on #317
This also happens on gcc 8.3.0

[2021-05-27 19:25] andy5995 commented on #316
It's also failed on Ubuntu xenial with clang-5.0

https://travis-ci.com/github/theimpossibleastronaut/rmw/builds/227063949

Different but related error

[code]

That same job, but on osx (xcode 11.6)
[code]

The other 8 tests passed, though some also use rmw_mkdir().

I've tested with clang-9.0 and clang-5.0 in a docker container running Ubuntu xenial, running a loop of 'make check' over 100 times

[2021-05-27 21:36] #317 closed

[2021-06-04 20:23] andy5995 commented on #316
I'm pretty sure this was fixed by https://github.com/theimpossibleastronaut/rmw/commit/3d1b15cd8a1f1a2104982263d1eec81bcadfc897

[2021-06-04 20:23] #316 closed

[2021-06-22 05:15] andy5995 opened #319 "add '--one-file-system' option"
@oyvindsaether mentioned the '--one-file-system' in https://github.com/theimpossibleastronaut/rmw/discussions/305.

If there's a directory mounted in directory that gets purged, and if it contains files writable by the user, they would also get removed. That would most likely be undesired behavior in most cases I think.

[2021-12-02 09:40] asakura42 opened #324 "Add more flags for rm compatibility"
For example, `-I`

[2021-12-02 09:48] asakura42 commented on #324
Oops, misunderstood point of the project.

[2021-12-10 19:57] andy5995 commented on #155
@su8 Can you tell me how this is building for you now that I've switched to meson for the build system?

[2022-01-27 04:52] andy5995 commented on #236
stale, and no longer using configure

[2022-01-27 04:52] #236 closed

[2022-01-27 05:00] andy5995 commented on #213
@sexybiggetje The metadata is apparently stored in a '.DS_Store' file

https://ponderthebits.com/2017/01/mac-dumpster-diving-identifying-deleted-file-references-in-the-trash-ds_store-files-part-1/

I doubt this ticket will ever be done. I know it won't be done by me, as I don't use a Mac. Closing...

[2022-01-27 05:00] #213 closed

[2022-02-16 19:37] andy5995 commented on #319
If there's a file system mounted in a directory that will get purged, I can only assume that the user won't remember it's there and therefore wouldn't think to use a --one-file-system option. Therefore I really don't see that implementing this option would be worth anything.

Closing...

[2022-05-15 20:54] andy5995 opened #343 "review and fix possible leaks reported by gcc-12"
After adding a test for gcc-12, a lot of possible leaks were found.

https://github.com/theimpossibleastronaut/rmw/runs/6443383022?check_suite_focus=true#step:3:239

Still, [checking with valgrind](https://github.com/theimpossibleastronaut/rmw/runs/6443383148?check_suite_focus=true#step:4:490) isn't reporting any problems.

But the info from the build will need to be reviewed and any real leaks sh

[2022-05-16 05:58] #343 closed

[2022-05-16 06:06] andy5995 commented on #343
After taking a look at a few of the warnings, I decided they were false positives. gcc 12 with the `-fanalyzer` flag doesn't know that I'm already checking for a NULL value and exiting if that's the case.

For now I've disabled two analyzer warnings and I'll rely on earlier versions of gcc to detect problems with `fanalyzer`.

[2022-09-12 15:45] andy5995 commented on #319
Me and @Jammyjamjamman are working on this in #347 . The option will be a hard-coded default when purge is run.

[2022-09-22 05:13] andy5995 commented on #319
The option is used by default if the user's native rm has the option available, or if the user is running rmw from an appimage (after the next release).

Closed by https://github.com/theimpossibleastronaut/rmw/commit/66ad93b31e2b18961727039a7e0b11bf3b20c1e3

[2022-10-12 20:09] andy5995 opened #353 "update German translation"
The Deutsche strings are a little out of date.

The instructions for working on translations are at https://remove-to-waste.info/translating.html

[2022-10-13 12:51] astitva0011 commented on #353
hello, i would like to work on this issue.
could you assign this issue to me?

[2022-10-13 16:57] andy5995 opened #354 "Update Russian translations"
The Russian strings are a little out of date.

The instructions for working on translations are at https://remove-to-waste.info/translating.html

[2022-10-13 20:00] andy5995 commented on #353
Ok. See https://remove-to-waste.info/translating.html and let me know if you have any questions after reading that.

[2022-10-13 21:14] m1ga commented on #353
it has some spelling mistakes in the current strings so make sure to not use Google Translate and correct the existing broken strings too :wink:

[2022-10-14 12:33] astitva0011 commented on #354
hello, i would like to work on this issue.
could you assign this issue to me?

[2022-10-14 16:31] andy5995 commented on #353
@m1ga Thanks. Would you like to work on this?

[2022-10-14 16:54] m1ga commented on #353
sure @andy5995, I can make a PR later today :+1:

[2022-10-14 20:43] m1ga commented on #353
Quick question:

is https://github.com/theimpossibleastronaut/rmw/pull/356/files#diff-6686c8173bf4fa70e9c9755259206f2c5c4fa9fde6269d36e5262dcc09abcf25L190 and https://github.com/theimpossibleastronaut/rmw/pull/356/files#diff-6686c8173bf4fa70e9c9755259206f2c5c4fa9fde6269d36e5262dcc09abcf25R197 a string I need to translate or is it a `:error:` an ID I need to keep in English?

[2022-10-14 20:59] andy5995 commented on #353
@m1ga "warning" and "error" can both be translated.

[2022-10-14 20:59] m1ga commented on #353
thanks, than it should be fine now

[2022-10-15 17:37] #353 closed

[2022-10-15 17:46] andy5995 opened #361 "Update Hindi translation"
The Hindi strings are outdated.

For translation instructions, please see https://remove-to-waste.info/translating.html

[2022-10-15 17:52] andy5995 opened #362 "Update Dutch translation"
The Dutch strings are a little outdated. About 75% of them are completed.

For translation instructions, please see https://remove-to-waste.info/translating.html

@sexybiggetje wanna take a crack at this before I give the issue a hacktoberfest label?

[2022-10-15 17:55] andy5995 commented on #241
This might happen later if people start requesting it. Closing for now...

[2022-10-15 17:55] #241 closed

[2022-10-15 18:03] andy5995 opened #363 "Get the build working on Windows using Visual Studio"
This project uses @mesonbuild for the build system.

These are general instructions for using meson with visual studio.

https://mesonbuild.com/Using-with-Visual-Studio.html

The dependencies for rmw are gettext and ncurses.

(related to #71)

## Note

rmw shouldn't be run once it's built on Windows. The paths it would use are not correct. So once it builds on Windows, a couple lines of code shoul

[2022-10-15 18:13] sexybiggetje commented on #362
I've sent some screenshots to your signal about something weird happening in transifex. It has a lot of '1%s' printed, on strings that were already translated before (and thus now differ). I've translated the 6 strings that didn't have issues.

[2022-10-15 19:34] sexybiggetje commented on #362
I've updated the translations fully after learning that you replaced them with %s and I could disable the option to replace those in transifex :)

[2022-10-15 21:32] andy5995 commented on #362
Thanks

Do you have access to disable them? If not I should be able to give you access.

[2022-10-15 21:44] #362 closed

[2022-11-14 09:43] #363 closed